<p class="note warning"><strong>Warning:</strong> The PAS for Kubernetes v2.6.0-alpha.1 tile is recommended only for evaluation environments due to its current feature, scale, and security limitations.</p>
