<p class="note warning">
  The PAS for Kubernetes v2.6.0-alpha.1 tile is recommended <strong>only for evaluation environments</strong> due to its current feature, scale, and security limitations.
</p>
