<%#
<p class="note"><strong>Note:</strong> Tanzu Application Service for Kubernetes (TAS for Kubernetes) 
is compatible with Kubernetes v1.16 and later. 
TAS for Kubernetes is certified for VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) v1.7 through v1.9 on vSphere.
</p>
%>