<p class="note"><strong>Note:</strong> Tanzu Application Service for Kubernetes v0.1.0 is certified only for VMware Enterprise PKS v1.6 on vSphere with Flannel networking. It may work with other Kubernetes deployments.</p>
