<p class="note"><strong>Note:</strong> Tanzu Application Service for Kubernetes v0.3.0 
is certified only for VMware Enterprise PKS v1.6 on vSphere with Flannel networking. 
It might work with other Kubernetes deployments.
</p>
