<p class="note">
  <strong>Note:</strong> The PAS for Kubernetes 2.6.0-alpha.1 tile <strong>runs only on vSphere environments with NSX-T</strong>. Support for other infrastructure and networking providers will come in future releases.
</p>
