<%#
<p class="note"><strong>Note:</strong> <%= vars.app_runtime_full % > (<%= vars.app_runtime_short % >)
is compatible with Kubernetes v1.16 and later.
<%= vars.app_runtime_short % > is certified for VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) v1.7 through v1.9 on vSphere.
</p>
%>
