<%#
<p class="note"><strong>Note:</strong> Tanzu Application Service for Kubernetes is compatible with Kubernetes v1.16 or later. It currenly is certified for VMware Tanzu Kubernetes Grid Integrated Edition v1.7 through v1.9 on vSphere.
</p>
%>