---
title: Backing Up Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to back up 
Tanzu Application Service for Kubernetes (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview






### <a id='backup-prepare-instances'></a> Prepare Tanzu Postgres TAS Instances for Backup and Restore