---
title: Tanzu Application Service for Kubernetes Back Up and Recovery Overview
owner: Tanzu Application Service Release Engineering
---

This topic provides a conceptual overview of backing up and restoring 
Tanzu Application Service for Kubernetes (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview