---
title: Tanzu Application Service for Kubernetes Back Up and Restore Overview
owner: Tanzu Application Service Release Engineering
---

This topic provides a conceptual overview of backing up and restoring 
<%= vars.app_runtime_full %> (<%= vars.app_runtime_short %>).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview