---
title: Configuring Installation Values for Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic describes how to configure the Tanzu Application Service for Kubernetes installation resources before deploying to the Kubernetes cluster.

Before proceeding, review the [Preparing to Install TAS for Kubernetes](preparing-to-install-tas-for-kubernetes.html) topic for details about:

* Preparing the Tanzu Application Service for Kubernetes installation resources on your local workstation,
* Installing required command-line tools,
* Preparing the Kubernetes cluster and application-image registry dependencies, and
* Choosing a system domain DNS name.

## <a id='overview'></a> Overview

Configuring Tanzu Application Service for Kubernetes for installation entails several steps:

* Generating internal configuration values using a helper script,
* Configuring values for the system component registry,
* Configuring the application image registry,
* Optionally using a Kubernetes LoadBalancer service for the ingress gateway.

The following sections and topics explain these steps in detail.


## <a id='generate-configuration-values'></a> Generate Configuration Values

Tanzu Application Service for Kubernetes requires a small set of credentials and certificates to coordinate its components, along with a certificate to terminate TLS at the ingress gateway. A helper script in the installation resources generates these credentials and certificates to be supplied to the installation script.


1. Create a directory named `configuration-values` in the same directory as the `tanzu-application-service` directory. You will use this directory to store configuration values for this installation.

1. Change into the `tanzu-application-service` directory in your terminal.

1. Run the value-generation script with the system domain you selected previously and store its output in the `configuration-values` directory:

```bash
$ ./bin/generate-values.sh -d "PLACEHOLDER-SYSTEM-DOMAIN" > ../configuration-values/deployment-values.yml
```

<p class="note">
  <strong>Note:</strong> The TLS certificate that the value-generation script generates to terminate TLS traffic at the system ingress gateway is self-signed.
</p>


## <a id='adjust-installation-resources-networking'></a> (Optional) Use Load Balancer Service for Ingress Gateway

If your Kubernetes cluster supports [Kubernetes Services](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types) of type LoadBalancer, you may use that type of service to provision a load balancer automatically for the Istio ingress gateway in the Tanzu Application Service for Kubernetes deployment.

<p class="note">
  This option is recommended when deploying Tanzu Application Service for Kubernetes to VMware Enterprise PKS on AWS, Azure, or GCP, or on vSphere with NSX-T container networking. This option is also recommended when deploying Tanzu Application Service for Kubernetes to Tanza Kubernetes Grid on AWS.
</p>
<p class="note warning">
  This option is <strong>not compatible</strong> with VMware Enterprise PKS to vSphere with Flannel container networking or Tanzu Kubernetes Grid on vSphere.
</p>

To enable Tanzu Application Service for Kubernetes to use a LoadBalancer service for ingress:

1. In your terminal, change into the `tanzu-application-service` directory containing the installation resources.

1. Create a file named `load-balancer-values.yml` in that directory with the contents below:

```yaml
#@data/values
---
enable_load_balancer: True
```


## <a id='configure-app-registry-values'></a> Next: Configure System Registry and App Registry Values

Tanzu Application Service for Kubernetes pulls the system component images from the Tanzu Network image registry, and it stores the application images it builds for buildpack-based applications in a user-provided image registry. Proceed to the [Configuring the Image Registries](configuring-image-registries.html) topic for details on configuring both the system and application registries.
