---
title: Configuring Your External Database
owner: Tanzu Application Service Release Engineering
---

This topic describes how to configure Tanzu Application Service for Kubernetes
(TAS for Kubernetes) to use external databases for UAA, Cloud Controller and
Usage Service, and how to configure the external databases for TAS for
Kubernetes.

## <a id='overview'></a>Overview

TAS for Kubernetes requires an external Postgres database for the UAA, Cloud Controller and
Usage Service, and uses a configuration file to access these system component databases.  

This configuration file is also used to create the system component databases.  

To create the Postgres databases and users for UAA, Cloud Controller, and
Usage Service:  

* [Create the External Database Configuration File](#external-database-config-file)  
* [Create the External Postgres Databases](#configure-external-database)  

<br>
<p class="note"><strong>Note:</strong> The YAML files in this topic us
  <code>ytt</code> syntax in their first line.
  For more information about <code>ytt</code>, see <a href="https://get-ytt.io/">ytt</a>.
</p>

## <a id='prerequisites'></a>Prerequisites

Before you begin this procedure, ensure that you have an external Postgres
database.

## <a id='external-database-config-file'></a> Create the External Database Configuration File

To configure TAS for Kubernetes to use your external Postgres database:

1. Change directory into the `configuration-values` directory you created earlier.
1. Create a file named `values-for-db.yml` in the `configuration-values` directory.
1. Populate the `configuration-values` file with the following:

    ```yaml
    #@library/ref "@github.com/cloudfoundry/cf-for-k8s"
    #@data/values
    ---
    capi:
      #@overlay/replace
      database:
        adapter: postgres
        host: "CCDB-HOSTNAME"
        port: "CCDB-PORT"
        user: "CCDB-USERNAME"
        password: "CCDB-PASSWORD"
        name: "CCDB-NAME"
        ca_cert: |
          -----BEGIN CERTIFICATE-----
          CCDB-CA-CERTIFICATE-CONTENT
          -----END CERTIFICATE-----

    uaa:
      #@overlay/replace
      database:
        adapter: postgresql
        host: "UAADB-HOSTNAME"
        port: "UAADB-PORT"
        user: "UAADB-USERNAME"
        password: "UAADB-PASSWORD"
        name: "UAADB-NAME"
        ca_cert: |
          -----BEGIN CERTIFICATE-----
          UAADB-CA-CERTIFICATE-CONTENT
          -----END CERTIFICATE-----

    #@library/ref "@github.com/pivotal/usage-service-k8s-release"
    #@data/values
    ---
    usage_service:
      #@overlay/replace
      database_hostname: "USAGE-SERVICE-DB-HOSTNAME"
      database_username: "USAGE-SERVICE-DB-USERNAME"
      database_password: "USAGE-SERVICE-DB-PASSWORD"
      database_name: "USAGE-SERVICE-DB-NAME"
    ```

    Where:
    * `CCDB-HOSTNAME` is the fully qualified domain name for your Cloud Controller database server.
    * `CCDB-PORT` is the connection port to your Cloud Controller database server.
    * `CCDB-USERNAME` is the name of the user to create to access your Cloud Controller database.
    * `CCDB-PASSWORD` is the password of the Cloud Controller database user.
    * `CCDB-NAME` is the name of the Cloud Controller database.
    * `CCDB-CA-CERTIFICATE-CONTENT` is the Certificate Authority (CA) certificate or
    self-signed certificate for your Cloud Controller database. Ensure each line of the
    CA certificate value is indented four spaces, matching the indentation of
    the `BEGIN CERTIFICATE` and `END CERTIFICATE` lines above.
    * `UAADB-HOSTNAME` is the fully qualified domain name for your UAA database server.
    * `UAADB-PORT` is the connection port to your UAA database server.
    * `UAADB-USERNAME` is the name of the user to create to access your UAA database.
    * `UAADB-PASSWORD` is the password of the UAA database user.
    * `UAADB-NAME` is the name of the UAA database.
    * `UAADB-CA-CERTIFICATE-CONTENT` is the CA certificate or
    self-signed certificate for your UAA database. Ensure each line of the
    CA certificate value is indented four spaces, matching the indentation of
    the `BEGIN CERTIFICATE` and `END CERTIFICATE` lines above.
    * `USAGE-SERVICE-DB-HOSTNAME` is the fully qualified domain name for your Usage Service database server.
    * `USAGE-SERVICE-DB-USERNAME` is the name of the user to create to access your Usage Service database.
    * `USAGE-SERVICE-DB-PASSWORD` is the password of the Usage Service database user.
    * `USAGE-SERVICE-DB-NAME` is the name of the Usage Service database.
1. Save the file.

## <a id='configure-external-database'></a> Create the External Postgres Databases

To create and configure separate external Postgres databases for Cloud Controller, UAA, and Usage Service:

1. Ensure that databases exist on your configured database server(s) and that roles (users) exist on those databases
1. Ensure that the databases support case-insensitive strings. This can be done by running the following command in postgres: `CREATE EXTENSION citext`
