---
title: Configuring Apps Manager for Tanzu Application Service for Kubernetes
owner: Apps Manager
---

This topic describes how to configure Apps Manager before deploying TAS for Kubernetes.

## <a id='prerequisites'></a> Prerequisites

Before configuring Apps Manager, complete the following:  

* Complete the steps in 
[Configuring Installation Values for TAS for Kubernetes](configuring-installation-values.html).
* Ensure that your installation has a `configuration-values` directory within the 
`tanzu-application-service` directory. For more information, see 
[Generate Internal Configuration Values](configuring-installation-values.html#generate-configuration-values) 
in _Configuring Installation Values for Tanzu Application Service for Kubernetes_.  

## <a id='overview'></a> Overview
Apps Manager on TAS for Kubernetes provides a UI for admins to configure allowlisting and resource consumption.

For more information about Apps Manager, see 
[Getting Started with Apps Manager](https://docs.run.pivotal.io/console/dev-console.html).

## <a id='configure-apps-manager'></a> Configure Apps Manager

Apps Manager configuration settings are stored in the `apps-manager-values.yml` configuration file.

To create the `apps-manager-values` configuration file:

1. Change directory to the `configuration-values` directory.

1. Create a file named `apps-manager-values.yml` in the `configuration-values` directory.

1. Copy the following into the `apps-manager-values.yml` file:


    ```yaml
    #@library/ref "@github.com/pivotal/apps-manager-k8s-release"
    #@data/values
    ---
    apps_manager:
      currency_lookup: "{\"usd\":\"$\",\"eur\":\"€\"}"
      display_plan_prices: "false"
      enable_invitations: "true"
      poll_interval: POLL-INTERVAL
      app_details_poll_interval: DETAILS-POLL-INTERVAL

      resources:
        instances: 1
        memory: MEM-SIZE

      whitelabeling:
        product_name: "Apps Manager"
        accent_color: "#00A79D"
        favicon: ""
        footer_links: "[]"

    search_server:
      resources:
        instances: INSTANCE-COUNT
        memory: MEM-SIZE

    invitations:
      resources:
        instances: INSTANCE-COUNT
        memory: MEM-SIZE
    ```

    Where:
    * `POLL-INTERVAL` is the Apps Manager poll interval, in seconds.
    * `DETAILS-POLL-INTERVAL` is the app details polling interval, in seconds.
    * `INSTANCE-COUNT` is the number of deployed instances.
    * `MEM-SIZE` is the memory usage for each instance, in MB. 
    Supports units, for example, `1GB` and `512MB`.

1. Revise the configuration file with your preferred configuration settings. 
For more information about configurable settings, see [Available Configurations](#available-configurations) below.
<br>    
    The following example `apps-manager-values` configuration file contains the Apps Manager default configuration values: 

    ```yaml
    #@library/ref "@github.com/pivotal/apps-manager-k8s-release"
    #@data/values
    ---
    apps_manager:
      currency_lookup: "{\"usd\":\"$\",\"eur\":\"€\"}"
      display_plan_prices: "false"
      enable_invitations: "true"
      poll_interval: 30
      app_details_poll_interval: 10

      resources:
        instances: 1
        memory: 128

      whitelabeling:
        product_name: "Apps Manager"
        accent_color: "#00A79D"
        favicon: ""
        footer_links: "[]"

    search_server:
      resources:
        instances: 2
        memory: 256

    invitations:
      resources:
        instances: 2
        memory: 256
    ```

### <a id='available-configurations'></a> Available Configurations

The following are all of the configurable Apps Manager "whitelabeling", "resources", and other various tooling settings:
<table class="nice">
  <tr>
    <th width="40%">Property</th>
    <th widt="20%">Default Value</th>
    <th width="40%">Description</th>
  </tr>
<tr><td>apps\_manager.currency\_lookup</td><td> '{"usd":"$","eur":"€"}'</td><td>Supported currency symbols</td></tr>
<tr><td>apps\_manager.display\_plan\_prices</td><td>false</td><td>Display Marketplace Service Plan Prices</td></tr>
<tr><td>apps\_manager.enable\_invitations</td><td>true</td><td>Enable inviting users through the invitation service</td></tr>
<tr><td>apps\_manager.poll\_interval</td><td>30</td><td>The Apps Manager poll interval. Enter value in seconds.</td></tr>
<tr><td>apps\_manager.app\_details\_poll\_interval</td><td>10</td><td>The app details polling interval. Enter value in seconds.</td></tr>
<tr><td>apps\_manager.whitelabeling.app\_icon</td><td>tanzu icon</td><td>Icon for apps manager UAA portal link</td></tr>
<tr><td>apps\_manager.whitelabeling.company\_name</td><td>"VMware"</td><td>Custom company name to display.</td></tr>
<tr><td>apps\_manager.whitelabeling.product\_name</td><td>"Apps Manager"</td><td>Custom product name to display.</td></tr>
<tr><td>apps\_manager.whitelabeling.accent\_color</td><td>#00A79D</td><td>Custom color for the app. Enter a hexadecimal color code. For example, "#71ffda".</td></tr>
<tr><td>apps\_manager.whitelabeling.favicon</td><td>""</td><td>Custom favicon. Enter a base64-encoded PNG image string, leaving out the mime-typ (data:image/png;base64,) string.</td></tr>
<tr><td>apps\_manager.whitelabeling.footer\_links</td><td>"[]"</td><td>Json array of links for the footer (format '[{"name":"link", "href": "https://google.com"}]'</td></tr>
<tr><td>apps\_manager.whitelabeling.footer\_text</td><td>""</td><td>Custom footer text.</td></tr>
<tr><td>apps\_manager.whitelabeling.global\_wrapper\_bg\_color</td><td>"#D6D6D6"</td><td>Classification header and footer background color. Enter a hexadecimal color code. For example, "#71ffda".</td></tr>
<tr><td>apps\_manager.whitelabeling.global\_wrapper\_text\_color</td><td>"#333"</td><td>Classification header and footer text color. Enter a hexadecimal color code. For example, "#71ffda".</td></tr>
<tr><td>apps\_manager.whitelabeling.global\_wrapper\_footer\_content</td><td>""</td><td>Classification footer content. Enter plain text or HTML markup.</td></tr>
<tr><td>apps\_manager.whitelabeling.global\_wrapper\_header\_content</td><td>""</td><td>Classification header content. Enter plain text or HTML markup.</td></tr>
<tr><td>apps\_manager.whitelabeling.logo</td><td>""</td><td>Custom logo. Enter a base64-encoded PNG image string, leaving out the mime-typ (data:image/png;base64,) string.</td></tr>
<tr><td>apps\_manager.whitelabeling.marketplace\_name</td><td>"Marketplace"</td><td>Name of the marketplace. Enter plain text or HTML markup</td></tr>
<tr><td>apps\_manager.whitelabeling.marketplace\_url</td><td>"/marketplace"</td><td>Apps Manager Marketplace link to point to a custom marketplace.</td></tr>
<tr><td>apps\_manager.whitelabeling.secondary\_navigation\_links</td><td>'[{"name":"Docs","href":"https&#58;//docs.run.pivotal.io"},{"name":"Tools","href"&#58;"/tools"}]'</td><td>List of secondary navigation links of Apps Manager. Enter json string.</td></tr>
<tr><td>apps\_manager.resources.instances</td><td>1</td><td>Deployed Instances of Apps Manager</td></tr>
<tr><td>apps\_manager.resources.memory</td><td>128</td><td>Memory usage of Apps Manager in MB. Supports units, for example, `1GB`, `512MB`.</td></tr>
<tr><td>search\_server.resources.instances</td><td>2</td><td>Deployed Instances of Apps Manager</td></tr>
<tr><td>search\_server.resources.memory</td><td>256</td><td>Memory usage of the search server app in MB. Supports units, for example, `1GB`, `512MB`.</td></tr>
<tr><td>invitations.resources.instances</td><td>2</td><td>Deployed Instances of Apps Manager</td></tr>
<tr><td>invitations.resources.memory</td><td>256</td><td>Memory usage of the invitations apps in MB. Supports units, for example, `1GB`, `512MB`.</td></tr>
</table>