---
title: Configuring Installation Values for Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic describes how to configure the Tanzu Application Service for Kubernetes installation resources before deploying to the Kubernetes cluster.

Before proceeding, review the [Preparing to Install TAS for Kubernetes](preparing-to-install-tas-for-kubernetes.html) topic for details about:

* Preparing the Tanzu Application Service for Kubernetes installation resources on your local workstation,
* Installing required command-line tools,
* Preparing the Kubernetes cluster and application-image registry dependencies, and
* Choosing a system domain DNS name.


## <a id='generate-configuration-values'></a> Generate Configuration Values

Tanzu Application Service for Kubernetes requires a small set of credentials and certificates to coordinate its components, along with a certificate to terminate TLS at the ingress gateway. A helper script in the installation resources generates these credentials and certificates to be supplied to the installation script.


1. Create a directory named `configuration-values` in the same directory as the `tanzu-application-service` directory. You will use this directory to store configuration values for this installation.

1. Change into the `tanzu-application-service` directory in your terminal.

1. Run the value-generation script with the system domain you selected previously and store its output in the `configuration-values` directory:

```bash
$ ./bin/generate-values.sh -d "sys.tas.example.com" > ../configuration-values/deployment-values.yml
```

<p class="note">
  <strong>Note:</strong> The TLS certificate that the value-generation script generates to terminate TLS traffic at the system ingress gateway is self-signed.
</p>

## <a id='configure-system-registry-values'></a>Configure System Registry Values

Tanzu Application Service for Kubernetes pulls the container images for system components from the [Tanzu Network container registry](https://registry.pivotal.io/), using the credentials from a user registered with [Tanzu Network](https://network.pivotal.io).

To configure Tanzu Application Service for Kubernetes with these values:

1. Change into the `configuration-values` directory you created earlier.

1. Create a file named `system-registry-values.yml` in that directory with the contents below, replacing the placeholder values with the Tanzu Network user credentials you wish to use:

```yaml
#@data/values
---
system_registry:
  hostname: registry.pivotal.io
  username: "PLACEHOLDER-TANZU-NETWORK-REGISTRY-USERNAME"
  password: "PLACEHOLDER-TANZU-NETWORK-REGISTRY-PASSWORD"
```


## <a id='configure-app-registry-values'></a> Configure App Registry Values

Tanzu Application Service for Kubernetes depends on an external image registry to store the images it builds for buildpack-based applications. See the [Configuring the Application Image Registry](configuring-app-image-registry.html) topic for details on configuring Harbor, GCR, or Dockerhub as this registry for the installation.


## <a id='adjust-installation-resources-networking'></a> (Optional) Use Load Balancer Service for Ingress Gateway

If your Kubernetes cluster supports [Kubernetes Services](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types) of type LoadBalancer, you may use that type of service to provision a load balancer automatically for the Istio ingress gateway in the Tanzu Application Service for Kubernetes deployment.

<p class="note">
  This option is recommended when deploying Tanzu Application Service for Kubernetes to VMware Enterprise PKS on AWS, Azure, or GCP, or on vSphere with NSX-T container networking.
</p>
<p class="note warning">
  This option is <strong>not compatible</strong> with VMware Enterprise PKS to vSphere with Flannel container networking.
</p>

To enable Tanzu Application Service for Kubernetes to use a LoadBalancer service for ingress:

1. In your terminal, change into the `tanzu-application-service` directory containing the installation resources.

1. Move the `replace-loadbalancer-with-clusterip.yaml` file from the `custom-overlays` directory to the `config-optional` directory:
  <pre><code>$ mv custom-overlays/replace-loadbalancer-with-clusterip.yaml config-optional</code></pre>


## <a id='installing-tas-for-kubernetes'></a> Next: Installing Tanzu Application Service for Kubernetes

Once you have completed the configuration steps above, proceed to the [Installing Tanzu Application Service for Kubernetes](installing-tas-for-kubernetes.html) topic.
