---
title: Configuring Dependencies
owner: PAS WOK
---

<strong>Previous</strong>: [Prerequisites](prerequisites.html)
&middot;
<strong>Next</strong>: [Deploying PAS for Kubernetes](deploy-pas-for-kubernetes.html)

<hr>

This topic discusses configuring BOSH Director for PAS for Kubernetes, creating a Kubernetes cluster with Pivotal Container Service (PKS), and preparing the Kubernetes cluster to receive Pivotal Application Service (PAS) workloads.


## <a id='configure-bosh'></a> Configure BOSH Director

To configure the BOSH Director for the PAS for Kubernetes tile, do the following:

1. In the **BOSH Director for vSphere** tile settings, go to the **Security** tab.

1. Enable the **Include OpsManager Root CA in Trusted Certs** checkbox.


## <a id='prepare-kubernetes'></a> Prepare a Kubernetes Cluster

To prepare your Kubernetes cluster to receive PAS workloads, do the following:

1. Follow the procedure in [Creating Clusters in PKS](https://docs.pivotal.io/runtimes/pks/create-cluster.html) to log in to PKS with the `pks` CLI and create a Kubernetes cluster named `pas-for-kubernetes`.

1. Configure `kubectl` to point to the Kubernetes cluster you created by running the following command:

    ```
    pks get-credentials pas-for-kubernetes
    ```
    This points `kubectl` to the `pas-for-kubernetes` cluster.

1. Run the following commands to create the required system namespace and service account in the `pas-for-kubernetes` cluster:

    ```
    kubectl create namespace pas-system
    kubectl create serviceaccount -n pas-system pas-system-service-account
    kubectl create clusterrolebinding pas-system-service-account-cluster-binding \
      --clusterrole=cluster-admin \
      --serviceaccount pas-system:pas-system-service-account
    ```
<hr>
<strong>Previous</strong>: [Prerequisites](prerequisites.html)
&middot;
<strong>Next</strong>: [Deploying PAS for Kubernetes](deploy-pas-for-kubernetes.html)
