---
title: Configuring Default Storage
owner: Tanzu Application Service Release Engineering
---

This topic describes how to configure the default storage on Kubernetes clusters to support Tanzu Application Service for Kubernetes.
Tanzu Application Service for Kubernetes requires the Kubernetes cluster to provide persistent volumes for its internal Postgres database and Minio blobstore.

## <a id='configuring-vsphere-storage'></a> Configuring Default Storage for PKS-provisioned clusters

### For PKS-provisioned clusters on vSphere
To enable dynamic provisioning of persistent volumes on a PKS-provisioned Kubernetes cluster on vSphere, you must install a default StorageClass in the Kubernetes cluster. See the [Provision Dynamic PVs for Use with Enterprise PKS section](https://docs.pivotal.io/pks/volumes.html#dynamic-pv-pks) of the Configuring and Using PersistentVolumes topic for more information on how to install.

1. Create a file named `vsphere-default-storage-class.yml` with the contents below:
<pre><code>---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: thin
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/vsphere-volume</code></pre>

1. Ensure that you have installed the `kapp` utility.

1. Run the following command to install the storage class:
  <pre><code>$ kapp deploy -a default-storage-class -f vsphere-default-storage-class.yml</code></pre>


## <a id='configuring-aws-storage'></a> Configuring Default Storage for TKG-provisioned clusters

### For TKG-provisioned clusters on AWS
To enable dynamic provisioning of persistent volumes on a TKG-provisioned Kubernetes cluster, you must install a default StorageClass in the Kubernetes cluster.

To configure a default storage class for AWS:

1. Create a file named `aws-default-storage-class.yml` with the contents below:
<pre><code>---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: gp2
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp2
  fsType: ext4</code></pre>

1. Ensure that you have installed the `kapp` utility.

1. Run the following command to install the storage class:
  <pre><code>$ kapp deploy -a default-storage-class -f aws-default-storage-class.yml</code></pre>

### For TKG-provisioned clusters on vSphere
To enable dynamic provisioning of persistent volumes on a TKG-provisioned Kubernetes cluster, you must install a default StorageClass in the Kubernetes cluster.

To configure a default storage class for vSphere:

1. Create a file named `vsphere-default-storage-class.yml` with the contents below, replacing the placeholder values with the CSI datastore you wish to use:
<pre><code>---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: thin-csi
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.vsphere.vmware.com
parameters:
  datastoreurl: "PLACEHOLDER-DATASTORE-URL"</code></pre>

1. Ensure that you have installed the `kapp` utility.

1. Run the following command to install the storage class:
  <pre><code>$ kapp deploy -a default-storage-class -f vsphere-default-storage-class.yml</code></pre>
