---
title: Deploy the Tile
owner: PAS WOK
---

<strong>Previous</strong>: [Configure Dependencies](configure-dependencies.html)  | <strong>Next</strong>: [See PAS for Kubernetes in Action](see-it-in-action.html)

<hr>

This topic discusses how to configure and deploy the Pivotal Application Service (PAS) for Kubernetes tile.

## <a id='configure-tile'></a> Configure the PAS for Kubernetes Tile

To configure the PAS for Kubernetes tile, do the following:

1. Configure the PAS for Kubernetes tile the same way you configure the PAS tile. For more information, see [Configuring PAS](https://docs.pivotal.io/pivotalcf/customizing/configure-pas.html) or [Quick Start PAS Configuration](https://docs.pivotal.io/pivotalcf/customizing/quickstart-pas.html).

1. Configure the **Kubernetes** tab with the following values:
  - **PAS Workloads Namespace**: `pas-workloads`
  - **PAS System Namespace**: `pas-system`
  - **Kubernetes URL**: A URL pointing to the `pas-for-kubernetes` cluster's master node
  - **Kubernetes Service Account username**: `pas-system-service-account`
  - **Kubernetes Service Account password**:
    Run the following commands to retrieve the `pas-system-service-account`'s token from the Kubernetes cluster:

    ```
    secret_name="$(kubectl get serviceaccount -n pas-system \
      pas-system-service-account -o jsonpath='{.secrets[0].name}')"

    kubectl get secret -n pas-system ${secret_name} -o jsonpath='{.data.token}' \
      | base64 --decode
    ```
    The value returned by the second command (`kubectl get secret` ...) should be used as the Kubernetes service account password.

  - **Kubernetes CA Certificate**:
    Run the following command to retrieve the CA certificate bundle from the Kubernetes cluster:

    ```
    kubectl config view --raw --minify \
      -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' \
      | base64 --decode
    ```
    The output should be used as the Kubernetes CA certificate.


## <a id='deploy'></a> Deploy PAS for Kubernetes and Re-Deploy PKS

After configuring the PAS for Kubernetes tile, you must re-deploy PKS in addition to deploying the PAS for Kubernetes tile. Do the following:

1. Click **Review Pending Changes** in Ops Manager.

1. Select **Pivotal Container Service** and **Pivotal Application Service**.

1. Click **Apply Changes**.

<strong>Next</strong>: [See PAS for Kubernetes in Action](see-it-in-action.html)
