---
title: Deploying PAS for Kubernetes
owner: PAS WOK
---

<strong>Previous</strong>: [Configuring Dependencies](configuring-dependencies.html)

<hr>

This topic discusses how to configure and deploy the Pivotal Application Service (PAS) for Kubernetes tile.


## <a id='download-tile'></a> Download the PAS for Kubernetes Tile

To download the PAS for Kubernetes tile, do the following:

1. Go to [Pivotal Network](https://network.pivotal.io) and sign in.

1. Go to [PAS for Kubernetes](https://network.pivotal.io/products/pas-for-kubernetes/) on Pivotal Network.

1. Click the item ending in `.pivotal` to download the tile to your local machine.


## <a id='upload-tile'></a> Upload the Tile to Ops Manager

To upload the PAS for Kubernetes tile to Ops Manager, do the following:

1. In Ops Manager, click **Import a Product** to upload the PAS for Kubernetes tile.

1. When the upload is complete, click the **+** icon next to the tile to add it to Ops Manager.

The PAS for Kubernetes tile will then appear staged as in the screenshot below:

![OpsManager with PAS for Kubernetes tile](/assets/pas-k8s-tile-opsman.png)


## <a id='configure-tile'></a> Configure the Tile

To configure the PAS for Kubernetes tile, do the following:

1. Configure the PAS for Kubernetes tile the same way you configure the PAS tile. For more information, see [Configuring PAS](https://docs.pivotal.io/pivotalcf/customizing/configure-pas.html) or [Quick Start PAS Configuration](https://docs.pivotal.io/pivotalcf/customizing/quickstart-pas.html).

1. Configure the **Kubernetes** pane with the following values:

![Kubernetes pane in PAS for Kubernetes tile](/assets/configure-pas-k8s-tile.png)

  - **PAS Workloads Namespace**: `pas-workloads`
  - **PAS System Namespace**: `pas-system`
  - **Kubernetes URL**: The URL for the master node of the `pas-for-kubernetes` cluster, as reported by `kubectl cluster-info`.
  - **Kubernetes Service Account username**: `pas-system-service-account`
  - **Kubernetes Service Account password**:
    Run the following commands to retrieve the token for the `pas-system-service-account` service account from the Kubernetes cluster:

    ```
    secret_name="$(kubectl get serviceaccount -n pas-system \
      pas-system-service-account -o jsonpath='{.secrets[0].name}')"

    kubectl get secret -n pas-system ${secret_name} -o jsonpath='{.data.token}' \
      | base64 --decode
    ```
    Use the value returned by the second command (`kubectl get secret` ...) as the Kubernetes service account password.

  - **Kubernetes CA Certificate**:
    Run the following command to retrieve the PEM-encoded CA certificate bundle from the Kubernetes cluster:

    ```
    kubectl config view --raw --minify \
      -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' \
      | base64 --decode
    ```
    Use the output as the Kubernetes CA certificate. This output should begin with `-----BEGIN CERTIFICATE-----` and end with `-----END CERTIFICATE-----`.


## <a id='deploy'></a> Deploy PAS for Kubernetes and Re-Deploy PKS

After configuring the PAS for Kubernetes tile, you must re-deploy PKS in addition to deploying the PAS for Kubernetes tile. Do the following:

1. Click **Review Pending Changes** in Ops Manager.

1. Select **Pivotal Container Service** and **Pivotal Application Service**.

1. Click **Apply Changes**.


## <a id='verify'></a> Verify the Installation

If you want to verify that the PAS installation succeeded and now runs app workloads on Kubernetes, do the following:

1. Push an app to your PAS environment by running `cf push APP_NAME`.

1. Observe the pod that corresponds to this app by running the following command:

  ```
kubectl get pods -n pas-workloads
  ```

<hr>
<strong>Previous</strong>: [Configuring Dependencies](configuring-dependencies.html)
