---
title: Deploying PAS for Kubernetes
owner: PAS WOK
---

This topic discusses how to configure and deploy the Pivotal Application Service (PAS) for Kubernetes tile.


## <a id='download-tile'></a> Download the PAS for Kubernetes Tile

To download the PAS for Kubernetes tile, do the following:

1. Go to [Pivotal Network](https://network.pivotal.io) and sign in.

1. Go to [PAS for Kubernetes](https://network.pivotal.io/products/pas-for-kubernetes/) on Pivotal Network.

1. Click the item ending in `.pivotal` to download the tile to your local machine.


## <a id='upload-tile'></a> Upload the Tile to Ops Manager

To upload the PAS for Kubernetes tile to Ops Manager, do the following:

1. In Ops Manager, click **Import a Product** to upload the PAS for Kubernetes tile.

1. When the upload is complete, click the **+** icon next to the tile to add it to Ops Manager.

The PAS for Kubernetes tile will then appear staged as in the screenshot below:


## <a id='configure-tile'></a> Configure the Tile

To configure the PAS for Kubernetes tile, do the following:

1. Configure the **OCI Registry** pane with the following values:
  - **OCI Registry Hostname**: Hostname of the OCI registry to which the PAS for Kubernetes tile should publish system images.
  - **OCI Registry Credentials**: User credentials for OCI registry authentication.


## <a id='deploy'></a> Deploy PAS for Kubernetes and Re-Deploy PKS

After configuring the PAS for Kubernetes tile, do the following:

1. Click **Review Pending Changes** in Ops Manager.

1. Click **Apply Changes**.
