---
title: Deploying Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic describes how to deploy Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='prerequisites'></a> Prerequisites

### <a id='command-line-tools'></a> Command-Line Tools

The installation procedure for Tanzu Application Service for Kubernetes requires a Linux or macOS workstation with the following command-line tools installed:

* The Kubernetes CLI, `kubectl`. For more information, see the [Installing the Kubernetes CLI](https://docs.pivotal.io/pks/1-6/installing-kubectl-cli.html) topic.
* The `kapp` utility, version v0.22.0 or later. For more information, see the [Installing kapp](installing-kapp.html) topic.
* The `kbld` utility, version v0.19.0 or later. For more information, see the [Installing kbld](installing-kbld.html) topic.
* The `ytt` utility, version v0.26.0 or later. For more information, see the [Installing ytt](installing-ytt.html) topic.
* The v2 BOSH CLI, `bosh`. For more information, see the [Installing the BOSH CLI](installing-bosh-cli.html) topic.


The system verification procedure for Tanzu Application Service for Kubernetes also requires that the CF CLI tool be installed.


### <a id='kubernetes-cluster'></a> Kubernetes Cluster

Tanzu Application Service for Kubernetes should be deployed to a Kubernetes cluster satisfying the following characteristics:

* The version of the Kubernetes cluster should be 1.14.x, 1.15.x, or 1.16.x.
* The Kubernetes cluster should have at least 5 worker nodes.
* Each worker node should have at least 2 CPU and 7.5GB memory available for allocation.
* The Kubernetes cluster should have a default storage class installed.

See the [Cluster Setup](cluster-setup.html) topic for more details.

### <a id='app-container-registry'></a> Container Registry for App Images

TKTKTK

<p class="note">
  <strong>Note:</strong> If using a harbor project as part of the value of `YTT_TAS_app_registry__repository`, ensure the
  project is created in the harbor UI before attempting to use it with Tanzu Application Service.
</p>


### <a id='system-domain'></a> System Domain

Select the DNS domain name you intend to use for the Tanzu Application Service for Kubernetes (for example, `sys.tas.example.com`). This domain name should be one for which you can create DNS records in a DNS zone.


Set up DNS records to establish ingress connectivity:

1. Use the `kubectl` CLI to retrieve the list of worker nodes with their external IP addresses:
  <pre><code>$ kubectl get nodes --output='wide'</code></pre>
  For example:
  <pre><code>$ kubectl get nodes --output='wide'
NAME                                   STATUS   ROLES    AGE     VERSION   INTERNAL-IP    EXTERNAL-IP
5e329c31-f1d7-4548-936b-3a58d4b166d3   Ready    \<none>   5h49m   v1.15.5   10.85.87.133   10.85.87.133
a6ad3f07-787c-4d90-b8e1-032be34e9d7f   Ready    \<none>   5h43m   v1.15.5   10.85.87.134   10.85.87.134
a8eb78a2-e3b4-4d8a-8c32-67bf0e13c0bf   Ready    \<none>   5h43m   v1.15.5   10.85.87.135   10.85.87.135
af7dc8da-a7b0-4cf2-a940-c9248168e609   Ready    \<none>   5h43m   v1.15.5   10.85.87.136   10.85.87.136
cc6ef11f-e253-4553-9cb0-bebc7d958f64   Ready    \<none>   5h42m   v1.15.5   10.85.87.137   10.85.87.137
</code></pre>

1. Create an `A` record from the wildcard system domain, `*.sys.tas.example.com`, to the set of external IP addresses for the worker nodes.


## <a id='deploy'></a> Deploying Tanzu Application Service

### <a id='prepare-installation-resources'></a> Prepare the Installation Resources

Download the Tanzu Application Service for Kubernetes from [VMware Tanzu Network](https://network.pivotal.io/products/tas-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [VMware Tanzu Application Service for Kubernetes product listing](https://network.pivotal.io/products/tas-for-kubernetes).

1. Download the "Tanzu Application Service" file and rename it to `tanzu-application-service.tar`.

1. Create a directory named `tanzu-application-service`.

1. Extract the contents of `tanzu-application-service.tar` into the `tanzu-application-service` directory.

```bash
$ tar xvf ~/Downloads/tanzu-application-service.tar -C tanzu-application-service
```

### <a id='generate-configuration-values'></a> Generate Configuration Values


1. Create a directory named `configuration-values` in the same directory as the `tanzu-application-service` directory. You will use this directory to store configuration values for this installation.

1. Change into the `tanzu-application-service` directory in your terminal.

1. Run the value-generation script with the system domain you selected previous and store its output in the `configuration-values` directory:

```bash
$ ./bin/generate-values.sh -d "sys.tas.example.com" > ../configuration-values/deployment-values.yml
```

<p class="note">
  <strong>Note:</strong> The TLS certificate that the value-generation script generates to terminate TLS traffic at the system ingress gateway is self-signed.
</p>

### <a id='configure-system-registry-values'></a>Configure System Registry Values

Tanzu Application Service retrieves container images for system components from the [Tanzu Network container registry](https://registry.pivotal.io/). It does so via the following required configuration parameters:

* `system_registry.hostname`: This parameter stores the hostname of the Tanzu Network Registry. It should always be set to `registry.pivotal.io`.
* `system_registry.username`: This parameter stores the username of the Tanzu Network Registry user that will pull system component images inside the Kubernetes cluster.
* `system_registry.password`: This parameter stores the password of the Tanzu Network Registry user specified above.

You may specify these values either by environment variables or by configuration file.


#### Option 1: Environment Variables

Run the following commands in your terminal to set these configuration parameters:

```bash
$ export YTT_TAS_system_registry__hostname='registry.pivotal.io'
$ export YTT_TAS_system_registry__username='PLACEHOLDER-TANZU-NETWORK-REGISTRY-USERNAME'
$ export YTT_TAS_system_registry__password='PLACEHOLDER-TANZU-NETWORK-REGISTRY-PASSWORD'
```


#### Option 2: Configuration File

Append the following lines to the `deployment-values.yml` file you generated above:

```yaml
system_registry:
  hostname: registry.pivotal.io
  username: "PLACEHOLDER-TANZU-NETWORK-REGISTRY-USERNAME"
  password: "PLACEHOLDER-TANZU-NETWORK-REGISTRY-PASSWORD"
```

Alternatively, you may create a separate `system-registry-values.yml` file in the `configuration-values` directory that contains these lines.


### <a id='configure-app-registry-values'></a> Configure App Registry Values

Tanzu Application Service stores the container images for buildpack-based applications in a container image registry. It does so via the following required configuration parameters:

* `app_registry.hostname`: This parameter stores the hostname of the application image registry used to store the application images.
* `app_registry.repository`: This parameter stores the repository in the image registry that will store the application images. It should include the hostname specified above.
* `app_registry.username`: This parameter stores the username of the application image registry user that will push application images to the registry and pull them inside the Kubernetes cluster.
* `app_registry.password`: This parameter stores the password of the application image registry user specified above.
* `app_registry.ca`: This parameter stores the certificate of the certificate authority that issued the certificate for the app image registry. This is required for registry certificates not issued from a globally trusted root Certificate Authority.

You may specify these values either by environment variables or by configuration file.


#### Option 1: Environment Variables

Run the following commands in your terminal to set these configuration parameters:

```bash
$ export YTT_TAS_app_registry__hostname='my-registry.example.com'
$ export YTT_TAS_app_registry__repository='my-registry.example.com/tas-app-images'
$ export YTT_TAS_app_registry__username='PLACEHOLDER-APP-REGISTRY-USERNAME'
$ export YTT_TAS_app_registry__password='PLACEHOLDER-APP-REGISTRY-PASSWORD'
$ export YTT_TAS_app_registry__ca='PLACEHOLDER-APP-REGISTRY-CA-CERTIFICATE-CONTENTS'
```

#### Option 2: Configuration File

Append the following lines to the `deployment-values.yml` file you generated above:

```yaml
app_registry:
  hostname: my-registry.example.com
  repository: my-registry.example.com/tas-app-images
  username: "PLACEHOLDER-APP-REGISTRY-USERNAME"
  password: "PLACEHOLDER-APP-REGISTRY-PASSWORD"
  ca: |
    PLACEHOLDER-APP-REGISTRY-CA-CERTIFICATE-CONTENTS
```

Alternatively, you may create a separate `app-registry-values.yml` file in the `configuration-values` directory that contains these lines.



### <a id='configure-app-registry-values'></a> Deploy Tanzu Application Service for Kubernetes

<p class="note">
	Deploying Tanzu Application Service for Kubernetes takes approximately 10 minutes.
</p>

1. Change into the `tanzu-application-service` directory in your terminal.

2. Run the installation script, configured to use the deployment values above:

```bash
$ ./bin/install-tas.sh ../configuration-values
```


### <a id='post-installation-configuration'></a> Post-Installation Configuration

To enable buildpack-based apps to run on Tanzu Application Service for Kubernetes, you must configure the system correctly after the initial installation.

1. Use the CF CLI to target the installation at the system domain configured earlier:
  <pre><code>$ cf api api.sys.tas.example.com --skip-ssl-validation</code></pre>

1. Set the `CF_ADMIN_PASSWORD` environment variable to the CF administrative password, stored in the `cf_admin_password` key in the `configuration-values/deployment-values.yml` file:
  <pre><code>$ CF\_ADMIN\_PASSWORD="$(bosh interpolate configuration-values/deployment-values.yml --path /cf\_admin\_password)"</code></pre>

1. Log into the installation as the admin user:
  <pre><code>$ cf auth admin $CF\_ADMIN\_PASSWORD</code></pre>

1. Enable the Diego-Docker feature flag:
  <pre><code>$ cf enable-feature-flag diego_docker</code></pre>


### <a id='post-installation-configuration'></a> Post-Installation Validation

1. Ensure that you are still logged into the Tanzu Application Service for Kubernetes installation as the admin user.

1. Create and target an organization and space for the verification application:
  <pre><code>$ cf create-org test-org
  $ cf create-space -o test-org test-space
  $ cf target -o test-org -s test-space
  </code></pre>

1. Clone the Cloud Foundry test application from GitHub:
  <pre><code>$ git clone https://github.com/cloudfoundry-samples/test-app</code></pre>

1. Change into the `test-app` directory in your terminal.

1. Push the test app to the installation:
  <pre><code>$ cf push test-app --hostname test-app</code></pre>

1. While the `cf push` command is running, open another terminal pane and monitor the build logs:
  <pre><code>$ cf logs test-app</code></pre>

1. After the `cf push` command succeeds, make a request to the app:
  <pre><code>$ curl test-app.sys.tas.example.com</code></pre>

<p class="note">
  <strong>Note:</strong> The route for the test application defaults to a subdomain of the system domain.
</p>
