---
title: Deploying PAS for Kubernetes to vSphere with NSX-T
owner: PAS WOK
---

<%= partial 'pre_alpha_warning' %>

This topic discusses how to configure and deploy the PAS for Kubernetes tile.


## <a id='prerequisite'></a> Prerequisite

Before configuring and deploying the PAS for Kubernetes tile, you must do the following:

* Import the tile. For more information, see [Downloading and Importing the PAS for Kubernetes Tile](download-import-tile.html).

* Configure a PKS cluster. For more information, see [Setting Up a Kubernetes Cluster for PAS Workloads](set-up-kubernetes-cluster.html).


## <a id='configure-bosh'></a> Configure BOSH Director

To configure BOSH Director for the PAS for Kubernetes tile, do the following:

1. In the **BOSH Director for vSphere** tile settings, go to the **Security** tab.

1. Enable the **Include OpsManager Root CA in Trusted Certs** checkbox.


## <a id='configure-tile'></a> Configure the PAS for Kubernetes Tile

To configure the PAS for Kubernetes tile, do the following:

1. Configure the PAS for Kubernetes tile the same way you configure the PAS tile. For more information, see [Configuring PAS](https://docs.pivotal.io/pivotalcf/customizing/configure-pas.html) or [Quick Start PAS Configuration](https://docs.pivotal.io/pivotalcf/customizing/quickstart-pas.html).

1. Configure the **Kubernetes** tab with the following values:
  - **PAS Workloads Namespace**: `pas-workloads`
  - **PAS System Namespace**: `pas-system`
  - **Kubernetes URL**: A URL pointing to the `pas-for-kubernetes` cluster's master node
  - **Kubernetes Service Account username**: `pas-system-service-account`
  - **Kubernetes Service Account password**:
  Run the following commands to retrieve the `pas-system-service-account`'s token from the Kubernetes cluster:
  ```
secret_name="$(kubectl get serviceaccount -n pas-system \
  pas-system-service-account -o jsonpath='{.secrets[0].name}')"

kubectl get secret -n pas-system ${secret_name} -o jsonpath='{.data.token}' \
  | base64 --decode
  ```
  The value returned by the second command (`kubectl get secret` ...) should be used as the Kubernetes service account password.
  - **Kubernetes CA Certificate**:
  Run the following command to retrieve the CA certificate bundle from the Kubernetes cluster:
  ```
kubectl config view --raw --minify \
  -o jsonpath='{.clusters[0].cluster.certificate-authority-data}' \
  | base64 --decode
  ```
  The output should be used as the Kubernetes CA certificate.


## <a id='deploy'></a> Deploy PAS for Kubernetes and Re-Deploy PKS

After configuring the PAS for Kubernetes tile, you must re-deploy PKS in addition to deploying the PAS for Kubernetes tile. Do the following:

1. Click **Review Pending Changes** in Ops Manager.

1. Select **Pivotal Container Service** and **Pivotal Application Service**.

1. Click **Apply Changes**.


## <a id='verify'></a> Verify the Installation

If you want to verify that the installation succeeded, do the following:

1. To see that PAS is running workloads on Kubernetes, push an app to your PAS environment by running `cf push APP_NAME`.

1. Observe a pod being created for your app by running the following command:

  ```
kubectl get pods -n pas-workloads
  ```
