---
title: Downloading and Importing the PAS for Kubernetes Tile
owner: PAS WOK
---

## <a id='prerequisite'></a> Installation Requirements

<%= partial 'limitation_notes' %>

To install and use PAS for Kubernetes, you will need the following:

- Ops Manager deployed to a vSphere environment with NSX-T.
- The Pivotal Container Service (PKS) tile v1.3+ installed and configured to use NSX-T for its container networking interface.
- The `pks` CLI [installed on your local machine](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).
- The `kubectl` CLI [installed on your local machine](https://kubernetes.io/docs/tasks/tools/install-kubectl/).

## <a id='download-tile'></a> Download the PAS for Kubernetes tile
1. Navigate to [Pivotal Network](https://network.pivotal.io) and sign in.
1. After signing in, navigate to the [PAS for Kubernetes page](https://network.pivotal.io/products/pas-for-kubernetes/) on Pivotal Network.
1. Click on the item ending in `.pivotal` to download the tile to your local machine.

## <a id='upload-tile'></a> Upload the PAS for Kubernetes tile to Ops Manager
1. In Ops Manager, click "Import a Product" to upload the PAS for Kubernetes tile.
1. Once the upload is complete, click on the "+" icon next to the tile to add it to Ops Manager.

<strong>Next</strong>: [Configure a PKS cluster](set-up-kubernetes-cluster.html)
