---
title: Import the Tile
owner: PAS WOK
---
<hr>

This topic discusses downloading the Pivotal Application Service (PAS) for Kubernetes tile and importing it to Ops Manager.

## <a id='prerequisite'></a> Prerequisites

<%= partial 'limitation_notes' %>

To install and use PAS for Kubernetes, you need the following:

- Ops Manager deployed to a vSphere environment with NSX-T.
- Pivotal Container Service (PKS) v1.3 or later installed and configured to use NSX-T for its container networking interface.
- The `pks` CLI installed on your local machine. For more information, see [Installing the PKS CLI](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).
- The `kubectl` CLI installed on your local machine. For more information, see [Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) in the Kubernetes documentation.


## <a id='download-tile'></a> Download the Tile

To download the PAS for Kubernetes tile, do the following:

1. Go to [Pivotal Network](https://network.pivotal.io) and sign in.

1. Go to [PAS for Kubernetes](https://network.pivotal.io/products/pas-for-kubernetes/) on Pivotal Network.

1. Click the item ending in `.pivotal` to download the tile to your local machine.


## <a id='upload-tile'></a> Upload the Tile to Ops Manager

To upload the PAS for Kubernetes tile to Ops Manager, do the following:

1. In Ops Manager, click **Import a Product** to upload the PAS for Kubernetes tile.

1. When the upload is complete, click the **+** icon next to the tile to add it to Ops Manager.

<strong>Next</strong>: [Configure a PKS cluster](configure-dependencies.html)
