---
title: Tanzu Application Service
owner: Tanzu Application Service Release Engineering
---

This guide describes setting up and using Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

## <a id='overview'></a> Overview

Tanzu Application Service combines the development experience of Tanzu Application Service and the Kubernetes container orchestrator. 
It includes the most important features of Tanzu Application Service, such as `cf push` for buildpack-based apps, while running 
Tanzu Application Service app instances on Kubernetes.
