---
title: Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

## <a id='overview'></a> Overview

Tanzu Application Service for Kubernetes brings the development experience of [Tanzu Application Service](https://docs.pivotal.io/platform/application-service/concepts/index.html) to the Kubernetes container orchestrator.
It includes the most important features of Tanzu Application Service, such as `cf push` for buildpack-based apps, while running
both the system components and the application instances as Kubernetes workloads.


## <a id='components'></a> Components

Tanzu Application Service for Kubernetes 0.1.0 includes the following components:

* [cf-for-k8s @ 8946c14](https://github.com/cloudfoundry/cf-for-k8s/commit/8946c1488920e59759cddd60eb8e53d1b7be224b)
* [kpack v0.0.8](https://github.com/pivotal/kpack/releases/tag/v0.0.8)
* [Cloud-Native Buildpacks for Ubuntu Bionic v0.0.55](https://hub.docker.com/layers/cloudfoundry/cnb/0.0.55-bionic/images/sha256-0a718640a4bde8ff65eb00e891ff7f4f23ffd9a0af44d43f6033cc5809768945)


## <a id='getting-started'></a> Getting Started

See the [Preparing to Install Tanzu Application Service for Kubernetes](preparing-to-install-tas-for-kubernetes.html) topic to set up the dependencies required to install Tanzu Application Service for Kubernetes.
