---
title: Administering Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to administer Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To administer Tanzu Application Service for Kubernetes:  

* [Administering TAS for Kubernetes](/tas-kubernetes/0-n/administering-tas-for-kubernetes.html)
* [Uninstalling TAS for Kubernetes](/tas-kubernetes/0-n/uninstalling-tas-for-kubernetes.html)