---
title: Administering Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to administer 
Tanzu Application Service for Kubernetes (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To administer TAS for Kubernetes:  

* [Administering TAS for Kubernetes](administering-tas-for-kubernetes.html)
* [Scaling TAS for Kubernetes](scaling-tas-for-kubernetes.html)
* [Uninstalling TAS for Kubernetes](uninstalling-tas-for-kubernetes.html)