---
title: Installing Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of installing Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To install Tanzu Application Service for Kubernetes, complete the following: 

* [Configuring Installation Values for TAS for Kubernetes](configuring-installation-values.html)
* [Configuring Your App Image Registry](configuring-image-registries.html)
* [Configuring Your System Image Registry](optional-image-relocation.html)
* [Configuring Apps Manager for TAS for Kubernetes](configuring-apps-manager.html)
* [Installing Tanzu Application Service for Kubernetes](installing-tas-for-kubernetes.html)
