---
title: Using Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to use Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To use Tanzu Application Service for Kubernetes:  

* [Managing Apps and Services](/tas-kubernetes/0-n/managing-apps-services.html)