---
title: PAS for Kubernetes
owner: PAS WOK
---

This guide describes setting up and using Pivotal Application Service (PAS) for Kubernetes.

<%= partial 'evaluation_only' %>

## <a id='overview'></a> Overview

PAS for Kubernetes combines the development experience of PAS and the Kubernetes container orchestrator. It includes the most important features of PAS, such as `cf push` for many buildpack-based apps, while running PAS app instances on Kubernetes.

PAS for Kubernetes is packaged as an Ops Manager tile, is deployable with BOSH, and has dependencies on Enterprise Pivotal Container Service (PKS), vSphere, and NSX-T.

<%= partial 'limitation_notes' %>

## <a id="diagram"></a> User Flow Diagram

The following diagram shows the user flow for PAS for Kubernetes:

![On the left side of the image is a mint green area containing two circular illustrations of people, a terminal containing example command line commands underneath each illustration. The one on top is an illustration of a person with short brown hair and a full brown beard wearing a blue turtleneck sweater, with the label "Application Developer" on its right side. Below this illustration is a black box containing the following example commands in white letters: "$ cf push myApp", "$ cf logs myApp", and "$ cf scale myApp -i 5". Below this black box is another illustration of a person with long blonde hair wearing a lilac shirt, with the label "Platform Engineer" on its right side. Below this illustration is a black box containing the following command in white letters: "$ kubectl get pods -n myNamespace". To the right of the mint area is a white area containing six boxes. At the top of the image are two boxes. To the left is a medium-sized rectangular box outlined in teal that is labeled "PAS for Kubernetes" and contains the PAS for Kubernetes logo and two boxes labeled "Cloud Controller" and "Eirini". To the right is a large rectangular box outlined in black that is labeled "Kubernetes Cluster" and contains the Kubernetes logo, a box labeled "Master Node", and a box labeled "Worker Node" that contains a gray box labeled "myNamespace" with a coral cube encased in a purple circle. Below the PAS for Kubernetes box is a smaller rectangular box outlined in teal that is labeled "PKS" and contains the PKS logo. Below these three boxes are two long rectangular boxes outlined in teal next to each other, the left box labeled "Ops Manager VM" and the right box labeled "BOSH Director VM". Below these two boxes is one final black rectangular box that is labeled "vSphere + NSX-T" in white letters. A red arrow points from the black box with "cf push" example commands to the Cloud Controller box contained in the PAS for Kubernetes box. A red arrow points from the Cloud Controller box to the Eirini box contained in the same PAS for Kubernetes box. A red arrow points from the Eirini box to the Master Node box contained in the Kubernetes Cluster box. A red arrow points from the Master Node box to the coral cube within the myNamespace box contained in the Worker Node box.](/assets/pas-k8s-user-flow.png)

The diagram illustrates the following user flow:

1. The app developer requests to push an app to PAS for Kubernetes using the Cloud Foundry Command Line Interface (cf CLI).

1. The Cloud Controller passes the request to Eirini.

1. Eirini translates the app from its representation in Cloud Controller into a `StatefulSet` resource in Kubernetes and submits it to the Kubernetes API.

1. Kubernetes schedules a pod for an app instance onto a worker node.
