---
title: Preparing to Install Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to prepare for Tanzu Application Service for Kubernetes installation.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To prepare for Tanzu Application Service for Kubernetes installation, complete the following: 

* [Preparing to Install TAS for Kubernetes](/tas-kubernetes/0-n/preparing-to-install-tas-for-kubernetes.html)
* [Installing Command-Line Tools](/tas-kubernetes/0-n/installing-command-line-tools.html)
* [Preparing the Kubernetes Cluster](/tas-kubernetes/0-n/preparing-kubernetes-cluster.html)
* [Configuring Default Storage](/tas-kubernetes/0-n/configuring-default-storage.html)