---
title: Backing up and Restoring Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to administer 
Tanzu Application Service for Kubernetes (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

[](bandr-intro.html)

To back up TAS for Kubernetes:  

* [](bandr-backup-manual.html)
* [](bandr-backup-auto.html)

To restore TAS for Kubernetes:  

* [Restoring Tanzu Application Service for Kubernetes](bandr-restore-manual.html)