---
title: Installing Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of installing Tanzu Application Service for Kubernetes.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To install Tanzu Application Service for Kubernetes, complete the following: 

* [Configuring Installation Values for TAS for Kubernetes](/tas-kubernetes/0-n/configuring-installation-values.html)
* [Configuring Your App Image Registry](/tas-kubernetes/0-n/configuring-image-registries.html)
* [Configuring Your System Image Registry](/tas-kubernetes/0-n/optional-image-relocation.html)
* [Installing Tanzu Application Service for Kubernetes](/tas-kubernetes/0-n/installing-tas-for-kubernetes.html)
