---
title: Using <%= vars.app_runtime_full %>
owner: Tanzu Application Service Release Engineering
---

This topic provides an overview of how to use
<%= vars.app_runtime_full %> (TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To use TAS for Kubernetes:

* [Managing Apps and Services](managing-apps-services.html)
