---
title: Installing Command-Line Tools
owner: Tanzu Application Service Release Engineering
---

This topic describes how to install command-line tools required to install
<%= vars.app_runtime_full %> (TAS for Kubernetes).

## <a id='overview'></a> Overview

TAS for Kubernetes installation procedures require a
Linux or macOS workstation with the following command-line tools installed:

* Cloud Foundry CLI
* Docker CLI
* Kubernetes CLI
* BOSH CLI
* k14s utilities

The k14s utilities are Kubernetes support tools:

<table class="nice">
  <tr>
    <th width=15%>Utility</th>
    <th>Description</th>
    <th width=17%>More Information</th>
  </tr>
  <tr><td><code>kapp</code></td>
    <td>Deployment tool with the concept of a "Kubernetes application": a set of resources with the same label.</td>
    <td><a href="https://get-kapp.io/">get-kapp.io</a></td>
  </tr>
  <tr><td><code>kbld</code></td>
    <td>Utility used to manipulate and replace container images used in Kubernetes configuration files.</td>
    <td><a href="https://get-kbld.io/">get-kbld.io</a></td>
  </tr>
  <tr><td><code>ytt</code></td>
    <td>YAML templating and overlay tool that works on YAML structure instead of text.</td>
    <td><a href="https://get-ytt.io/">get-ytt.io</a></td>
  </tr>
</table>

## <a id='command-line-tools'></a> Install Your Command-Line Tools

This section guides you through installing the necessary CLIs and k14 utilities on your workstation:

1. Review [Required Additional Components]
(release-notes.html#additional-components) in _TAS for Kubernetes Release Notes_
for the versions of the command line tools to install.

1. Install the cf CLI. See [Installing the cf CLI]
(https://docs.pivotal.io/application-service/cf-cli/install-go-cli.html).

1. Install the Docker CLI. For more information, see [Get Docker]
(https://docs.docker.com/get-docker/) on the Docker documentation site.

1. Install the Kubernetes CLI. See [Installing the Kubernetes CLI]
(https://docs.pivotal.io/tkgi/installing-kubectl-cli.html).

1. <a id='install-bosh-cli'></a>Install the `BOSH CLI`:
    1. Download the `BOSH CLI` binary for your version of TAS for Kubernetes from
    [VMware <%= vars.app_runtime_full %>](https://network.pivotal.io/products/tas-for-kubernetes)
    on the _VMware Tanzu Network_.
    1. Rename the downloaded binary to <code>bosh</code>.
    1. To make the BOSH CLI binary executable:
    <pre>$ chmod +x bosh</pre>
    1. Move the binary into your <code>PATH</code>. For example:
    <pre>$ mv bosh /usr/local/bin/bosh</pre>

1. Install `kapp`:
    1. Download the `kapp` binary for your operating system from
    [kapp](https://network.pivotal.io/products/kapp)
    on the _VMware Tanzu Network_.
    1. Rename the downloaded binary to <code>kapp</code>.
    1. To make the <code>kapp</code> binary executable:
    <pre>$ chmod +x kapp</pre>
    1. Move the binary into your <code>PATH</code>. For example:
    <pre>$ mv kapp /usr/local/bin/kapp</pre>

1. Install `kbld`:
    1. Download the `kbld` binary for your operating system from
    [kbld](https://network.pivotal.io/products/kbld)
    on the _VMware Tanzu Network_.
    1. Rename the downloaded binary to <code>kbld</code>.
    1. To make the <code>kbld</code> binary executable:
    <pre>$ chmod +x kbld</pre>
    1. Move the binary into your <code>PATH</code>. For example:
    <pre>$ mv kbld /usr/local/bin/kbld</pre>

1. Install `ytt`:
    1. Download the `ytt` binary for your operating system from
    [ytt](https://network.pivotal.io/products/ytt)
    on the _VMware Tanzu Network_.
    1. Rename the downloaded binary to <code>ytt</code>.
    1. To make the <code>ytt</code> binary executable:
    <pre>$ chmod +x ytt</pre>
    1. Move the binary into your <code>PATH</code>. For example:
    <pre>$ mv ytt /usr/local/bin/ytt</pre>

<%#
<!-- restore this section once TAS for K8s supports a Windows installation procedure

## Windows

### BOSH CLI

This section describes how to install the BOSH Command Line Interface tool (`bosh`) on Windows.

1. Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.

1. Click **VMware Tanzu Application Service for Kubernetes**.

1. Click **BOSH CLI**.

1. Click **BOSH CLI for Windows** to download the BOSH CLI executable file.

1. Rename the downloaded binary to <code>bosh.exe</code>.

1. Move the binary into your <code>PATH</code>.


### kapp

This section describes how to install the `kapp` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kapp**.

1. Click **kapp - Linux** to download the <code>kapp</code> binary.

1. Rename the downloaded binary to <code>kapp.exe</code>.

1. Move the binary into your <code>PATH</code>.


### kbld

This section describes how to install the `kbld` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kbld**.

1. Click **kbld - Linux** to download the <code>kbld</code> binary.

1. Rename the downloaded binary to <code>kbld.exe</code>.

1. Move the binary into your <code>PATH</code>.


### ytt

This section describes how to install the `ytt` utility on Widnows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **ytt**.

1. Click **ytt - Linux** to download the <code>ytt</code> binary.

1. Rename the downloaded binary to <code>ytt.exe</code>.

1. Move the binary into your <code>PATH</code>.


keep this '<' here or stuff breaks, srsly ->< -->

 %>
