---
title: Installing kbld
owner: Tanzu Application Service Release Engineering
---

This topic describes how to install the k14s.io <code>kbld</code> utility.

To install `kbld`, follow the procedures for your operating system to obtain it from [VMware Tanzu Network](https://network.pivotal.io/products/kbld). Binaries are provided only for 64-bit architectures.

Part of the k14s suite of utilities, `kbld` manipulates and replaces container images used in Kubernetes configuration files.
For more information about `kbld`, consult [get-kbld.io](https://get-kbld.io/).
For more information about the k14s utilities, consult [k14s.io](https://k14s.io).


##<a id='mac'></a> macOS

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kbld</strong>.</li>
<li>Click <strong>kbld - macOS</strong> to download the <code>kbld</code> binary.</li>
<li>Rename the downloaded binary to <code>kbld</code>.</li>
<li>On the command line, run the following command to make the <code>kbld</code> binary executable:
  <pre class="terminal">$ chmod +x kbld</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kbld /usr/local/bin/kbld</pre></li>
</ol>


##<a id='linux'></a> Linux

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kbld</strong>.</li>
<li>Click <strong>kbld - Linux</strong> to download the <code>kbld</code> binary.</li>
<li>Rename the downloaded binary to <code>kbld</code>.</li>
<li>On the command line, run the following command to make the <code>kbld</code> binary executable:
  <pre class="terminal">$ chmod +x kbld</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kbld /usr/local/bin/kbld</pre></li>
</ol>

<!-- restore this section once TAS for K8s supports a Windows installation procedure

## Windows

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kbld</strong>.</li>
<li>Click <strong>kbld - Linux</strong> to download the <code>kbld</code> binary.</li>
<li>Rename the downloaded binary to <code>kbld.exe</code>.</li>

<li>Move the binary into your <code>PATH</code>.</li>
</ol>

-->