---
title: Installing ytt
owner: Tanzu Application Service Release Engineering
---

This topic describes how to install the `ytt` utility.

To install `ytt`, follow the procedures for your operating system to obtain it from [VMware Tanzu Network](https://network.pivotal.io/products/ytt). Binaries are provided only for 64-bit architectures.

Part of the k14s suite of utilities, `ytt` is a YAML templating and overlay tool that works on YAML structure instead of text.
For more information about `ytt`, consult [get-ytt.io](https://get-ytt.io/).
For more information about the k14s utilities, consult [k14s.io](https://k14s.io).


##<a id='mac'></a> macOS

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>ytt</strong>.</li>
<li>Click <strong>ytt - macOS</strong> to download the <code>ytt</code> binary.</li>
<li>Rename the downloaded binary to <code>ytt</code>.</li>
<li>On the command line, run the following command to make the <code>ytt</code> binary executable:
  <pre class="terminal">$ chmod +x ytt</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv ytt /usr/local/bin/ytt</pre></li>
</ol>


##<a id='linux'></a> Linux

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>ytt</strong>.</li>
<li>Click <strong>ytt - Linux</strong> to download the <code>ytt</code> binary.</li>
<li>Rename the downloaded binary to <code>ytt</code>.</li>
<li>On the command line, run the following command to make the <code>ytt</code> binary executable:
  <pre class="terminal">$ chmod +x ytt</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv ytt /usr/local/bin/ytt</pre></li>
</ol>

##<a id='windows'></a> Windows

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>ytt</strong>.</li>
<li>Click <strong>ytt - Linux</strong> to download the <code>ytt</code> binary.</li>
<li>Rename the downloaded binary to <code>ytt.exe</code>.</li>

<li>Move the binary into your <code>PATH</code>.</li>
</ol>