---
title: Installing kapp
owner: Tanzu Application Service Release Engineering
---

This topic describes how to install the k14s.io `kapp` utility.

To install `kapp`, follow the procedures for your operating system to obtain it from [VMware Tanzu Network](https://network.pivotal.io/products/kapp). Binaries are provided only for 64-bit architectures.

Part of the k14s suite of utilities, `kapp` is a deployment tool with the concept of a "Kubernetes application": a set of resources with the same label.
For more information about `kapp`, consult [get-kapp.io](https://get-kapp.io/).
For more information about the k14s utilities, consult [k14s.io](https://k14s.io).


##<a id='mac'></a> macOS

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kapp</strong>.</li>
<li>Click <strong>kapp - macOS</strong> to download the <code>kapp</code> binary.</li>
<li>Rename the downloaded binary to <code>kapp</code>.</li>
<li>On the command line, run the following command to make the <code>kapp</code> binary executable:
  <pre class="terminal">$ chmod +x kapp</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kapp /usr/local/bin/kapp</pre></li>
</ol>


##<a id='linux'></a> Linux

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kapp</strong>.</li>
<li>Click <strong>kapp - Linux</strong> to download the <code>kapp</code> binary.</li>
<li>Rename the downloaded binary to <code>kapp</code>.</li>
<li>On the command line, run the following command to make the <code>kapp</code> binary executable:
  <pre class="terminal">$ chmod +x kapp</pre></li>
<li>Move the binary into your <code>PATH</code>. For example:
  <pre class="terminal">$ mv kapp /usr/local/bin/kapp</pre></li>
</ol>

<!-- restore this section once TAS for K8s supports a Windows installation procedure

##<a id='windows'></a> Windows

<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong>kapp</strong>.</li>
<li>Click <strong>kapp - Linux</strong> to download the <code>kapp</code> binary.</li>
<li>Rename the downloaded binary to <code>kapp.exe</code>.</li>

<li>Move the binary into your <code>PATH</code>.</li>
</ol>

-->
