---
title: Managing Apps and Services
owner: Tanzu Application Service Release Engineering
---

This topic describes how to create and manage apps and services on <%= vars.app_runtime_full %>.

<p class="note warning">
  <strong>Warning:</strong> Consult the <a href="release-notes.html#known-issues">Known Issues</a> section for details on limitations of the application developer experience.
</p>


## <a id='push-app'></a> Pushing an Application

One of the primary activities for developer users of
TAS for Kubernetes is to push an application to the platform.
For more information, see
[Pushing an App](https://docs.pivotal.io/application-service/devguide/deploy-apps/deploy-app.html)
in the _TAS for VMs Administrator Guide_.


## <a id='provision-bind-services'></a> Provision and Bind Service Instances

Many apps running on TAS depend on external services such as databases or message queues.
TAS allows developers to provision such services through its services marketplaces and to bind them to apps automatically.
For more information about provisioning and binding services, see
[Managing Service Instances with the cf CLI](https://docs.pivotal.io/application-service/devguide/services/managing-services.html)
in the _TAS for VMs Administrator Guide_.


## <a id='rolling-app-deploy'></a> Perform a Rolling App Deployment

TAS for Kubernetes supports updating applications to a new version by gradual replacement of application instances,
often called a rolling deployment. For more information about performing a rolling app deployment, see
[Rolling App Deployments](https://docs.pivotal.io/application-service/devguide/deploy-apps/rolling-deploy.html)
in the _TAS for VMs Administrator Guide_.
