---
title: Installing Tanzu Application Service from a Private Registry
owner: Tanzu Application Service Release Engineering
---

This topic describes how to relocate VMware Tanzu Application Service for Kubernetes 
(TAS for Kubernetes) images to a private container image registry 
and install TAS for Kubernetes using the relocated images.  

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>


## <a id='overview'></a> Overview

In Kuberenetes, containers can be re-created at various times and the private registry 
must be available if the container is started on a new host. 
You should install TAS for Kubernetes from a private registry
for the following situations:  

* Your deployment has limited network egress because of firewall or network bandwidth.  
* You want to reduce the external runtime dependencies of your TAS for Kubernetes installation. 


<p class="note"><strong>Note</strong>: The following procedure has been validated 
  for the Google Container Registry and for Harbor registries. 
</p>
## <a id='prerequisites'></a> Prerequisites

Before you install TAS for Kubernetes 
from a private registry, you must have:  

* Installed the Docker CLI  
* Write access to your private container image registry  
* Completed the instructions in [Preparing to Install Tanzu Application Service for Kubernetes](preparing-to-install-tas-for-kubernetes.html) 
and [Configuring Installation Values for Tanzu Application Service for Kubernetes]
(configuring-installation-values.html)  


## <a id='relocate-tas-for-k8s-images'></a> Relocate TAS for Kubernetes Images

Before you install TAS for Kubernetes from a private registry, 
you have to relocate the image from the Tanzu Network Registry to the private registry:  

* [Download the TAS for Kubernetes Images](#downloading-the-images)
* [Upload the TAS for Kubernetes Images to the Private Registry](#uploading-the-images)

### <a id='downloading-the-images'></a> Download the TAS for Kubernetes Images

To download the TAS for Kubernetes Images from Tanzu Network Registry:

1. In your terminal, navigate to the `tanzu-application-service` directory.

1. Log in to the Tanzu Network Registry.

    ```
    docker login registry.pivotal.io \
                       -u USERNAME \
                       -p PASSWORD
    ```

    Where:
    * `USERNAME` is a Tanzu Network user account. 
    * `PASSWORD` is the password for the Tanzu Network user account. 

1. Package the images into a tarball.  

    ```
    kbld package -f <(ytt \
                   -f config/image_overrides.yml \
                   -f config/values.yml ) \
                   --output /tmp/images.tar
    ```

    Packing the image takes about 5 minutes to complete.

### <a id='uploading-the-images'></a> Upload the TAS for Kubernetes Images to the Private Registry

To upload the TAS for Kubernetes images to the private registry:

1. Log in to the private registry.  

    ```
    docker login registry.example.com/org-name/repository \
                       -u USERNAME \
                       -p PASSWORD
    ```

    Where:
    * `USERNAME` is a user account with write access to the private registry. 
    * `PASSWORD` is the password for the user account. 

1. Unpackage the image tarball and upload to the private registry.  
    * If your client has the private registry CA certificates:  

        ```
        kbld unpackage -f <(ytt -f config/image_overrides.yml -f config/values.yml) \
                         -i /tmp/images.tar \
                         -r registry.example.com/org-name/repository \
                         --lock-output relocated_images.yml
        ```
    * If your client does not have the private registry CA certificates:  

        ```
        kbld unpackage -f <(ytt -f config/image_overrides.yml -f config/values.yml) \
                         -i /tmp/images.tar \
                         -r registry.example.com/org-name/repository \
                         --lock-output relocated_images.yml \
                         --registry-verify-certs=false
        ```

## <a id='post-image-relocation'></a> Install the TAS for Kubernetes

After uploading your TAS for Kubernetes images to the private registry, 
you can install the 
TAS for Kubernetes using a modified installation procedure.

To install TAS for Kubernetes: 

1. Move the `config/image_overrides.yml` file out of the `config/` directory.
1. To point the system registry variables to the private registry 
modify the `configuration-values/system-registry-values.yml` as follows:

    ```
    #@data/values
    ---
    system_registry:
      hostname: "PRIVATE-REGISTRY-HOSTNAME"
      username: "PRIVATE-REGISTRY-USERNAME"
      password: "PRIVATE-REGISTRY-PASSWORD"
    ```

    Where:
    * `PRIVATE-REGISTRY-HOSTNAME` is the hostname of your private registry.
    * `PRIVATE-REGISTRY-USERNAME` is a user account with write access to the private registry. 
    * `PRIVATE-REGISTRY-PASSWORD` is the password for the user account. 

1. To deploy TAS for Kubernetes using the images in the private registry:
    * If your client has the private registry CA certificates:  

        ```
        ytt -f config \
              -f ../configuration-values | \
              kbld -f- -f relocated_images.yml > /tmp/final_deployment.yml
        kapp deploy -a cf -f /tmp/final_deployment.yml
        ```
    * If your client does not have the private registry CA certificates:

        ```
        ytt -f config \
              -f ../configuration-values | \
              kbld -f- -f relocated_images.yml > /tmp/final_deployment.yml \
              --registry-verify-certs=false
        kapp deploy -a cf -f /tmp/final_deployment.yml
        ```

1. To validate your installation, see 
[Post-Installation Validation](installing-tas-for-kubernetes.html#post-installation-configuration). 
