---
title: Installing Tanzu Application Service From a Registry
owner: Tanzu Application Service Release Engineering
---

This topic describes how to relocate Tanzu Application Service for Kubernetes Images 
to a registry and install Tanzu Application Service using the relocated images.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>


## <a id='overview'></a> Overview

You should install Tanzu Application Service for Kubernetes from a registry
for the following situations:  

* Your deployment has limited network egress capabilities due to firewall or network bandwidth.  
* You want to reduce the external runtime dependencies of your Tanzu Application Service installation. 
In Kuberenetes, containers can be recreated at various times and the image registry 
must be available if the container is started on a new host.

<p class="note"><strong>Note</strong>: The following procedure has been validated for 
  the Google Container Registry and Harbor registries. Other Docker-like image registries may also work. 
</p>
## <a id='prerequisites'></a> Prerequisites

The following are required to install Tanzu Application Service for Kubernetes from a registry:  

* The docker CLI has been installed.  
* You have write access to a container registry.  
* You have completed the instruction in [Preparing to Install Tanzu Application Service for Kubernetes](preparing-to-install-tas-for-kubernetes.html) 
and [Configuring Installation Values for Tanzu Application Service for Kubernetes]
(configuring-installation-values.html).


## <a id='relocate-tas-for-k8s-images'></a> Relocate Tanzu Application Service for Kubernetes Images

### <a id='downloading-the-images'></a> Download the Tanzu Application Service Images

To download the Tanzu Application Service Images from Tanzu Network:

1. In your terminal, navigate to the `tanzu-application-service` directory.

1. Login into the source registry using your username and password for Tanzu Network.

    ```
    $ docker login registry.pivotal.io -u YOUR-USERNAME -p YOUR-PASSWORD
    ```

1. Package the images into a tarball.  

    ```
    $ kbld package -f <(ytt \
                   -f config/image_overrides.yml \
                   -f config/values.yml ) \
                   --output /tmp/images.tar
    ```

    Packing the image takes about 5 minutes to complete.

### <a id='uploading-the-images'></a> Upload the Tanzu Application Service Images to Your Registry

To upload the Tanzu Application Service Images to your own registry:

1. Login into the target registry.  

    ```
    $ docker login registry.example.com/org-name/repository -u YOUR-USERNAME -p YOUR-PASSWORD
    ```

1. Unpackage the images tarball and upload to target registry.  
    * If your client has the required ca registry certificates, run the following command:  

      ```
      $ kbld unpackage -f <(ytt -f config/image_overrides.yml -f config/values.yml) \
                       -i /tmp/images.tar \
                       -r registry.example.com/org-name/repository \
                       --lock-output relocated_images.yml
      ```
    * If your client does not have the required ca registry certificates, run the following command:  

      ```
      $ kbld unpackage -f <(ytt -f config/image_overrides.yml -f config/values.yml) \
                       -i /tmp/images.tar \
                       -r registry.example.com/org-name/repository \
                       --lock-output relocated_images.yml \
                       --registry-verify-certs=false
      ```

## <a id='post-image-relocation'></a> Install the Tanzu Application Service

After uploading your Tanzu Application Service Images to your registry, you can install the 
Tanzu Application Service using a modified  installation procedure.

To install the Tanzu Application Service: 

1. Move the `config/image_overrides.yml` file outside of the `config/` directory.
1. To point the system registry variables to the target registry 
in configuration-values/system-registry-values.yml:

    ```
    #@data/values
    ---
    system_registry:
      hostname: "PLACEHOLDER-TARGET-REGISTRY-HOSTNAME"
      username: "PLACEHOLDER-TARGET-REGISTRY-USERNAME"
      password: "PLACEHOLDER-TARGET-REGISTRY-PASSWORD"
    ```

1. To deploy Tanzu Application Service for Kubernetes using the relocated images:
    * If your client has the required ca registry certificates, run the following command:  

      ```
      $ ytt -f config \
            -f ../configuration-values | \
            kbld -f- -f relocated_images.yml > /tmp/final_deployment.yml
      $ kapp deploy -a cf -f /tmp/final_deployment.yml
      ```
    * If your client does not have the required ca registry certificates, run the following command:

      ```
      $ ytt -f config \
            -f ../configuration-values | \
            kbld -f- -f relocated_images.yml > /tmp/final_deployment.yml \
            --registry-verify-certs=false
      $ kapp deploy -a cf -f /tmp/final_deployment.yml
      ```

1. To validate your installation, see 
[Post-Installation Validation](installing-tas-for-kubernetes.html#post-installation-configuration). 
