---
title: Preparing to Install PAS for Kubernetes
owner: PAS WOK
---

This topic discusses configuring BOSH Director to work with PAS for Kubernetes, creating a Kubernetes cluster with PKS, and preparing the Kubernetes cluster to receive PAS workloads.


## <a id='configure-bosh'></a> Configure BOSH Director

To configure the BOSH Director for the PAS for Kubernetes tile, do the following:

1. In the **BOSH Director for vSphere** tile settings, go to **Security**.

1. Enable the **Include OpsManager Root CA in Trusted Certs** checkbox.

1. Click **Save**.

1. Go to the **Installation Dashboard**.

1. Click **Review Pending Changes**, then **Apply Changes**.


## <a id='prepare-kubernetes'></a> Prepare a Kubernetes Cluster

To prepare your Kubernetes cluster to receive PAS workloads, do the following:

1. Follow the procedure in [Creating Clusters in PKS](https://docs.pivotal.io/runtimes/pks/create-cluster.html) to log in to PKS with the `pks` CLI and create a cluster named `pas-for-kubernetes`.

1. Using the `kubectl` CLI, target the `pas-for-kubernetes` Kubernetes cluster by running the following command:

    ```
    pks get-credentials pas-for-kubernetes
    ```

1. Run the following commands to create the required system namespace and service account in the `pas-for-kubernetes` cluster:

    ```
    kubectl create namespace pas-system
    kubectl create serviceaccount -n pas-system pas-system-service-account
    kubectl create clusterrolebinding pas-system-service-account-cluster-binding \
      --clusterrole=cluster-admin \
      --serviceaccount pas-system:pas-system-service-account
    ```
