---
title: Preparing to Install Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic describes how to prepare dependencies and your local workstation to install Tanzu Application Service for Kubernetes (TAS for Kubernetes).  

## <a id='preparing-installation-resources'></a> Prepare Your Installation Resources

Download the TAS for Kubernetes installation resources from [VMware Tanzu Network](https://network.pivotal.io/products/tas-for-kubernetes).

1. Log in to [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to [VMware Tanzu Application Service for Kubernetes](https://network.pivotal.io/products/tas-for-kubernetes) on the _VMware Tanzu Network_.

1. Download the "Tanzu Application Service" file to a local directory of your choice and rename it to `tanzu-application-service.tar`.

1. Extract the contents of `tanzu-application-service.tar` into the `tanzu-application-service` directory:

    ```bash
    tar xvf tanzu-application-service.tar
    ```


## <a id='app-container-registry'></a> Ensure Your Container Registry is Accessible

TAS for Kubernetes depends on a container image registry to 
store images for buildpack-based applications. 
Supported registries include Harbor, Google Container Registry (GCR), and Docker Hub.

If you are using Harbor as your container registry, ensure that it is deployed in your 
environment and is accessible at a domain name of your choice. 
The [VMware Harbor Registry tile](https://network.pivotal.io/products/harbor-container-registry) 
is one option to deploy it when using Ops Manager.

Configure TAS for Kubernetes to use your container registry when completing the procedures in 
[Configuring Your App Image Registry](configuring-app-image-registry.html) 
and [Configuring Your System Image Registry](configuring-sys-image-registry.html).


## <a id='system-domain'></a> Select a System Domain Name

Decide on the DNS domain name you intend to use for the TAS for Kubernetes 
system domain (for example, `sys.tas.example.com`). 
Neither this domain nor any of its subdomains should be in use for other services.

This domain name should be one for which you can create DNS records in a DNS zone. 
You will create these DNS records later in the installation procedure. 

This documentation uses `SYSTEM-DOMAIN` to refer to the value of this 
system domain.