---
title: Preparing to Install Tanzu Application Service for Kubernetes
owner: Tanzu Application Service Release Engineering
---

This topic describes how to prepare dependencies and your local workstation to install Tanzu Application Service for Kubernetes.


<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='preparing-installation-resources'></a> Preparing the Installation Resources

Download the Tanzu Application Service for Kubernetes installation resources from [VMware Tanzu Network](https://network.pivotal.io/products/tas-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [VMware Tanzu Application Service for Kubernetes product listing](https://network.pivotal.io/products/tas-for-kubernetes).

1. Download the "Tanzu Application Service" file to a local directory of your choice and rename it to `tanzu-application-service.tar`.

1. Extract the contents of `tanzu-application-service.tar` into the `tanzu-application-service` directory:

```bash
$ tar xvf tanzu-application-service.tar
```

## <a id='command-line-tools'></a> Command-Line Tools

The installation procedure for Tanzu Application Service for Kubernetes requires a Linux or macOS workstation with the following command-line tools installed.

For more information about installing the BOSH CLI, `kapp`, `kbld`, and `ytt` tools from VMware Tanzu Network, see the [Installing Command-Line Tools](installing-command-line-tools.html) topic.

* The Kubernetes CLI, `kubectl`. For more information, see the [Installing the Kubernetes CLI](https://docs.pivotal.io/pks/1-6/installing-kubectl-cli.html) topic.
* The BOSH CLI, `bosh`.
* The `kapp` utility, version v0.22.0 or later.
* The `kbld` utility, version v0.19.0 or later.
* The `ytt` utility, version v0.26.0 or later.
* The CF CLI, `cf`, version v6.50.0 or later. For more information, see the [Installing the cf CLI](https://docs.pivotal.io/platform/application-service/cf-cli/install-go-cli.html) topic.


## <a id='kubernetes-cluster'></a> Kubernetes Cluster

Tanzu Application Service for Kubernetes requires that the Kubernetes cluster satisfy certain minimum resource requirements and capabilities. See the [Preparing the Kubernetes Cluster](preparing-kubernetes-cluster.html) topic for more details.


## <a id='app-container-registry'></a> Container Registry for App Images

Tanzu Application Service for Kubernetes depends on a container image registry to store images for buildpack-based applications. Supported registries include Harbor, Google Container Registry (GCR), and Dockerhub.

If you are using Harbor as your container registry, ensure that it is deployed in your environment and is accessible at a domain name of your choice. The [VMware Harbor Registry tile](https://network.pivotal.io/products/harbor-container-registry) is one option to deploy it when using Ops Manager.


## <a id='system-domain'></a> System Domain

Decide on the DNS domain name you intend to use for the Tanzu Application Service for Kubernetes system domain (for example, `sys.tas.example.com`). This domain name should be one for which you can create DNS records in a DNS zone. This domain and its subdomains should not be in use for other services.

This documentation will use `PLACEHOLDER-SYSTEM-DOMAIN` to refer to the value of this system domain.


## <a id='deploying-tas-kubernetes'></a> Next: Configuring and Deploying Tanzu Application Service for Kubernetes

Once you have completed the preparatory steps above, you are ready to [configure Tanzu Application Service for Kubernetes](configuring-installation-values.html) for deployment to the Kubernetes cluster.
