---
title: Preparing to Install PAS for Kubernetes
owner: PAS WOK
---

This topic describes how to prepare to install Pivotal Application Service (PAS) for Kubernetes.

To prepare for installation, you must meet the prerequisites and configure the BOSH Director security settings.

## <a id='prerequisites'></a> Prerequisites

To install and use PAS for Kubernetes, you need the following:

- Ops Manager deployed.

- Enterprise Pivotal Container Service (PKS) v1.5 or later installed.

- The `pks` CLI installed on your local machine. For more information, see [Installing the PKS CLI](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).

- The Kubernetes CLI, `kubectl`, installed on your local machine. For more information, see [Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) in the Kubernetes documentation.

- Download the [VMWare Harbor Registry](https://network.pivotal.io/products/harbor-container-registry/) tile


## <a id='configure-bosh'></a> Update BOSH Director Security Settings

To configure the BOSH Director for the PAS for Kubernetes tile, do the following:

1. In the **BOSH Director** tile, go to **Security** settings.

1. Place the certificates for the CAs signing your OCI registry's server certificate in the **Trusted Certificates** text box.

1. Click **Save**.

1. Go to the **Installation Dashboard**.

1. Click **Review Pending Changes**, then **Apply Changes**.


## <a id='deploy-harbor'></a> Deploy Harbor Registry

PAS for Kubernetes requires an internal OCI registry to which it can deploy OCI images for its system components.

Currently it only supports limited integration with the Harbor Registry so we must deploy Harbor Registry as such:

1. Follow the general installation instructions for Harbor Registry here: https://docs.pivotal.io/partners/vmware-harbor/installing.html
    - When configuring [Harbor Authentication Mode](https://docs.pivotal.io/partners/vmware-harbor/installing.html#configure_authentication) ensure the `Internal` authentication mode is used
        - PAS for Kubernetes does not yet support any of Harbor Registry's other authentication modes
1. Save off the credentials for the Harbor system administrator account configured on [installation](https://docs.pivotal.io/partners/vmware-harbor/installing.html#configure_credentials) as they will need to be supplied during installation of PAS for Kubernetes
