---
title: Prerequisites
owner: PAS WOK
---

This topic discusses prerequisites for installing the Pivotal Application Service (PAS) for Kubernetes tile.

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='overview'></a> Overview

To install and use PAS for Kubernetes, you need the following:

- Ops Manager deployed to a vSphere environment with NSX-T.
- Pivotal Container Service (PKS) v1.3 or later installed and configured to use NSX-T for its container networking interface.
- The `pks` CLI installed on your local machine. For more information, see [Installing the PKS CLI](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).
- The `kubectl` CLI installed on your local machine. For more information, see [Install and Set Up kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/) in the Kubernetes documentation.
