---
title: PAS for Kubernetes Release Notes
owner: PAS WOK
---

## vPre-Alpha
**Release Date: July 15, 2019**
<p class="note warning">
<strong>Warning: </strong>`
The PAS for Kubernetes tile is currently in pre-alpha. This document is for Pivotal Field and Sales to test and demo the tile to their customers.
</p>
## Features

## Limitations

## Known Issues
