---
title: TAS for Kubernetes Release Notes
owner: Tanzu Application Service Release Engineering
---

This topic contains release notes for Tanzu Application Service for Kubernetes
(TAS for Kubernetes).


## <a id='0-2-0'></a> v0.2.0

**Release Date: May 29, 2020**

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

### <a id='features'></a> Features

New features and changes in this release:

- The `cf app` command now displays CPU and memory usage metrics for app instances.
- Component metrics for Cloud Controller are now available for Prometheus to scrape via conventional `prometheus.io` annotations.
- Load-balancer options are now configured via the `enable_load_balancer` template parameter instead of via moving template overlay files.
- Ingress routing without a Kubernetes-provisioned load balancer no longer creates the `istio-ingressgateway` Kubernetes service.


### Resolved Issues

This release has the following fixes:

- Apps can now receive ingress traffic through both HTTP and HTTPS.
- Buildpack-staging logs are now streamed during `cf push`.
- Running `cf restage` now restages the app successfully.
- Running buildpack-based apps no longer requires the `diego_docker` feature flag to be set.

### <a id='known-issues'></a> Known Issues

This release has the following issues:

- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- The TAS for Kubernetes ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- TAS for Kubernetes cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS for Kubernetes installation to a new version.
- Does not support re-deploying TAS for Kubernetes with different credentials.
