---
title: TAS for Kubernetes Release Notes
owner: Tanzu Application Service Release Engineering
---

This topic contains release notes for Tanzu Application Service for Kubernetes
(TAS for Kubernetes).

<%= partial 'evaluation_only' %>

<%= partial 'limitation_notes' %>

## <a id='0-3-0'></a> v0.3.0

**Release Date**: TBD, 2020

### <a id='product-snapshot'></a>Product Snapshot

<table class="nice">
  <tr>
    <th>Release</th>
    <th width=40%>Details</th>
  </tr>
  <tr>
    <td>Version</td>
    <td>v0.3.0</td>
  </tr>
  <tr>
    <td>Release date</td>
    <td>TBD, 2020</td>
  </tr>
</table>

#### <a id='installed-components'></a>Installed With 0.3.0
<table class="nice">
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
</table>

#### <a id='additional-components'></a>Required Additional Components
<table class="nice">
  <tr>
    <th>Component</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>BOSH CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>cf CLI</td>
    <td>v6.50.0</td>
  </tr>
  <tr>
    <td>Docker CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <td>Harbor Registry</td>
    <td>.</td>
  </tr>   
  <tr>
    <td>kubectl, the Kubernetes CLI</td>
    <td>.</td>
  </tr>
  <tr>
    <th>k14s Component</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>kapp</td>
    <td>v0.26.0 or later</td>
  </tr>
  <tr>
    <td>kbld</td>
    <td>v0.22.0 or later</td>
  </tr>
  <tr>
    <td>ytt</td>
    <td>v0.26.0 or later</td>
  </tr>
</table>

#### <a id='optional-components'></a>Optional Components
<table class="nice">
  <tr>
    <th>Component</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
</table>

#### <a id='supported-environments'></a>Supported Environments
<table class="nice">
  <tr>
    <th>Desktop Environment</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>64-bit Mac OS</td>
    <td>Desktop environment for command line functions</td>
  </tr>
  <tr>
    <td>64-bit Linux OS</td>
    <td>Desktop environment for command line functions</td>
  </tr>
  <tr>
    <th>Deployment Environment</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>vSphere with Flannel</td>
    <td>.</td>
  </tr>
  <tr>
    <th>Supported IaaSs</th>
    <th width=40%></th>
  </tr>
  <tr>
    <td>.</td>
    <td></td>
  </tr>
</table>


#### <a id='supported-platforms'></a>Supported Platforms
<table class="nice">
  <tr>
    <th>Platform</th>
    <th width=40%>Version</th>
  </tr>
  <tr>
    <td>Tanzu Kubernetes Grid</td>
    <td>v1.0, with <code>metrics-server</code></td>
  </tr>
  <tr>
    <td>VMware Enterprise PKS</td>
    <td>v1.6 or v1.7</td>
  </tr>
</table>


### <a id='features'></a> Features

New features and changes in this release:

-

### Resolved Issues

This release has the following fixes:

- 

### <a id='known-issues'></a> Known Issues

This release has the following issues:

- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- The TAS for Kubernetes ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- TAS for Kubernetes cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS for Kubernetes installation to a new version.
- Does not support re-deploying TAS for Kubernetes with different credentials.

## <a id='0-2-0'></a> v0.2.0

**Release Date: May 29, 2020**

### <a id='features'></a> Features

New features and changes in this release:

- The `cf app` command now displays CPU and memory usage metrics for app instances.
- Component metrics for Cloud Controller are now available for Prometheus to scrape via conventional `prometheus.io` annotations.
- Load-balancer options are now configured via the `enable_load_balancer` template parameter instead of via moving template overlay files.
- Ingress routing without a Kubernetes-provisioned load balancer no longer creates the `istio-ingressgateway` Kubernetes service.


### Resolved Issues

This release has the following fixes:

- Apps can now receive ingress traffic through both HTTP and HTTPS.
- Buildpack-staging logs are now streamed during `cf push`.
- Running `cf restage` now restages the app successfully.
- Running buildpack-based apps no longer requires the `diego_docker` feature flag to be set.

### <a id='known-issues'></a> Known Issues

This release has the following issues:

- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- The TAS for Kubernetes ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- TAS for Kubernetes cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS for Kubernetes installation to a new version.
- Does not support re-deploying TAS for Kubernetes with different credentials.

## <a id='0-1-0'></a> v0.1.0

**Release Date: April 14, 2020**

### <a id='features'></a> Features

Key features in this release:

- Supports building and running apps from source files through `cf push`
  using system-provided cloud-native buildpacks for Java, Go, NodeJS, and .NET Core.
- Supports running apps packaged as Docker images.
- Supports routing HTTP traffic to apps.
- Supports retrieving logs from app-instance processes.
- Supports retrieving logs from cloud-native buildpack builds.
- Supports installation to Kubernetes clusters provisioned with VMware Enterprise PKS.
- Uses the k14s toolchain (ytt, kbld, and kapp) for installation.
  For more information, see the [k14s](https://k14s.io) website.
- Supports integration with VMware Harbor Registry, Google Container Registry, and DockerHub for storing app images.

### <a id='known-issues'></a> Known Issues

This release has the following issues:

- Apps can receive ingress traffic only through HTTP and not HTTPS.
- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- Buildpack-staging logs are not streamed during `cf push`.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- Running `cf restage` fails to re-stage the app.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- Running buildpack-based apps requires the `diego_docker` feature flag to be set.
- The TAS for Kubernetes ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- TAS for Kubernetes cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS installation to a new version.
- Does not support re-deploying TAS with different credentials.
