---
title: Tanzu Application Service Release Notes
owner: Tanzu Application Service Release Engineering
---

## <a id='0.1.0-beta.1'></a> v0.1.0-beta.1

**Release Date:** April 2nd, 2020

<%= partial 'evaluation_only' %>

### <a id='features'></a> Features

Key features in this release:

- `cf push`, with the app instances now running as pods on Kubernetes
- HTTP routing to app instances
- `cf logs` for log streams from app instances

### <a id='known-issues'></a> Known Issues

- Installation script is not idempotent.
- Custom buildpacks and cf cli buildpacks related commands are not supported.
- `cf restage APP_NAME` fails to re-stage the app.
- Upgrading Tanzu Application Service to a new version fails.
- `cf push` does not show staging logs.
- `cf buildpacks` shows empty build-packs list.
- Pushing buildpack apps required the diego_docker feature flag to be set.
- CF tail returns istio sidecar logs alongside app logs.
- Apps not available via HTTPS.
- Re-deploying Tanzu Application Service with different credentials fails.
