---
title: PAS for Kubernetes Release Notes
owner: PAS WOK
---

## <a id='component-versions'></a> Component Versions
<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>bits-service-release</td><td>2.27.0</td></tr>
    <tr><td>docker-registry</td><td>3.4.0</td></tr>
    <tr><td>eirini-bosh-release</td><td>0.0.8</td></tr>
    <tr><td>pas-for-k8s-container-images</td><td>0.0.3</td></tr>
  </tbody>
</table>

The PAS for Kubernetes tile also contains [the components in PAS 2.6.0](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html#2.6.0).

## <a id='features'></a>Features

PAS for Kubernetes is based on the 2.6.0 release of the Small Footprint PAS tile, and so many of those PAS features work unchanged. In particular, buildpack-based apps can still take advantage of core PAS features such as:

- `cf push`, with the app instances now running as pods on Kubernetes,
- HTTP routing to app instances,
- `cf logs` for log streams from app instances,
- `cf scale` for seamless app scaling,
- `cf events` for app audit and crash events,
- `cf app` for app instance status and resource usage metrics.

We discuss limitations and discrepancies from PAS below.


## <a id='limitations'></a>Limitations

<%= partial 'limitation_notes' %>

- Scale of the PAS for Kubernetes tile has been validated only on the order of a few hundred app instances. Operation at larger scale may result in degraded behavior of new system components or integrations.


### <a id='functional-limitations'></a>Known Functional Limitations

- PAS for Kubernetes supports only buildpack-based apps on the `cflinuxfs3` stack. Support for Docker-image-based apps or Windows apps is not yet implemented.

- PAS for Kubernetes supports only HTTP routing. Support for TCP routing and internal DNS-based routing is not yet implemented.

- PAS for Kubernetes does not yet implement app tasks.

- PAS for Kubernetes does not yet support SSH access to app instances.

- PAS for Kubernetes does not yet install additional CA certificates such as the Ops Manager root CA certificate in the system trust store for app instances.

- Disk usage metrics for app instances are not yet implemented.


### <a id='security-limitations'></a>Known Security Limitations

- Network policies for app instance pods are unrestricted, as this is the default network policy for Kubernetes pods. PAS for Kubernetes does not yet implement [application security groups](https://docs.pivotal.io/pivotalcf/2-6/concepts/asg.html) to control egress policy from app instance pods or [container-to-container network policies](https://docs.pivotal.io/pivotalcf/2-6/devguide/deploy-apps/cf-networking.html) to control network policy between app instance pods.

- Communication from the gorouters to app instances is unencrypted and unauthenticated.

- Communication from the Cloud Controller to the Eirini component is unencrypted. This communication contains details of app configuration, including environment variables and service-binding credentials that may be sensitive.

- The Eirini component API does not require its clients to authenticate. Other clients with access to the API could send requests that cause the Eirini component to create additional workloads on the target Kubernetes cluster.

- The OCI image registry provided by the bits-service component does not require authentication. Clients with access to this registry and knowledge of the repository name corresponding to an app droplet can retrieve an OCI image that include that droplet.

- PAS for Kubernetes does not yet enforce disk usage limits on app instances.

- PAS for Kubernetes does not apply user namespaces to app instance containers, as Kubernetes does not yet support that container isolation mechanism.

- PAS for Kubernetes currently requires that its Kubernetes service account have cluster-admin privileges.

Future releases of PAS for Kubernetes will address some of these security limitations.


## <a id='known-issues'></a>Known Issues

- Some PAS system apps such as Apps Manager function correctly only when PAS for Kubernetes is configured to disable SSL verification or to use publicly trusted certificates for TLS termination of HTTP requests.
