---
title: PAS for Kubernetes Release Notes
owner: PAS WOK
---

## <a id='2.6.0-alpha.1'></a> v2.6.0-alpha.1

**Release Date:** July 16, 2019

<%= partial 'evaluation_only' %>


### <a id='features'></a> Features

PAS for Kubernetes is based on Small Footprint PAS v2.6.0, and many of those PAS features work unchanged. In particular, buildpack-based apps can still take advantage of core PAS features.

Features in this release:

- `cf push`, with the app instances now running as pods on Kubernetes
- HTTP routing to app instances
- `cf logs` for log streams from app instances
- `cf scale` for seamless app scaling
- `cf events` for app audit and crash events
- `cf app` for app instance status and resource usage metrics

### <a id='known-limitations'></a> Known Limitations

<%= partial 'limitation_notes' %>

- Operating at a scale larger than a few hundred app instances may result in performance issues from new system components or integrations.

- PAS for Kubernetes supports only buildpack-based apps on the `cflinuxfs3` stack.

- PAS for Kubernetes supports only HTTP routing.

- PAS for Kubernetes does not support app tasks.

- PAS for Kubernetes does not support SSH access to app instances.

- PAS for Kubernetes does not support instance-identity credentials for app instances.

- PAS for Kubernetes does not support disk usage metrics for app instances.

- PAS for Kubernetes does not enforce disk usage limits on app instances.

- PAS for Kubernetes does not restrict network policies for app instance pods. This is the default network policy for Kubernetes pods. PAS for Kubernetes does not support application security groups to control egress policy from app instance pods or container-to-container network policies to control network policy between app instance pods. For more information about application security groups, see [Application Security Groups](https://docs.pivotal.io/pivotalcf/2-6/concepts/asg.html). For more information about container-to-container networking, see [Configuring Container-to-Container Networking](https://docs.pivotal.io/pivotalcf/2-6/devguide/deploy-apps/cf-networking.html).

- PAS for Kubernetes does not encrypt or authenticate communication from Gorouters to app instances.

- PAS for Kubernetes does not install additional CA certificates such as the Ops Manager root CA certificate in the system trust store for app instances.

- PAS for Kubernetes does not encrypt or authenticate communication from the Cloud Controller to the Eirini component. This communication contains details of app configuration, including environment variables and service-binding credentials that may be sensitive.

- The Eirini component API does not require its clients to authenticate. Other clients with access to the API could send requests that cause the Eirini component to create additional workloads on the target Kubernetes cluster.

- The OCI image registry provided by the bits-service component does not require authentication. Clients with access to this registry and knowledge of the repository name corresponding to an app droplet can retrieve an OCI image that include that droplet.

- PAS for Kubernetes requires that its Kubernetes service account have cluster-admin privileges.

- PAS for Kubernetes does not apply user namespaces to app instance container.

### <a id='known-issues'></a> Known Issues

- Some PAS system apps, such as Apps Manager, function correctly only when PAS for Kubernetes is configured to disable SSL verification or to use publicly-trusted certificates for TLS termination of HTTP requests.

### <a id='component-versions'></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>bits-service-release</td><td>2.27.0</td></tr>
    <tr><td>docker-registry</td><td>3.4.0</td></tr>
    <tr><td>eirini-bosh-release</td><td>0.0.8</td></tr>
    <tr><td>pas-for-k8s-container-images</td><td>0.0.3</td></tr>
  </tbody>
</table>

The PAS for Kubernetes tile also contains the components in PAS v2.6.0. For more information, see the [2.6.0](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html#2.6.0) section of the _Pivotal Application Service v2.6 Release Notes_.