---
title: TAS for Kubernetes Release Notes
owner: Tanzu Application Service Release Engineering
---

This topic contains release notes for Tanzu Application Service (TAS) for Kubernetes.


## <a id='0-2-0'></a> v0.2.0

**Release Date: MMM DD, 2020**

<%= partial 'evaluation_only' %>

### <a id='features'></a> Features

New features and changes in this release:

- Feature 1
- Change 1

### Resolved Issues

This release has the following fixes:

- Fix 1
- Fix 2

### <a id='known-issues'></a> Known Issues

[//]: # (This list is copied from v0.1, maybe some will be fixed in 0.2)

This release has the following issues:

- Apps can receive ingress traffic only through HTTP and not HTTPS.
- Retrieving app and buildpack-staging logs with `cf logs` requires cf CLI v6.50.0 or later.
- Buildpack-staging logs are not streamed during `cf push`.
- App instance logs also include unfiltered logs from the Istio sidecar proxy process and can be noisy as a result.
- Running `cf restage` fails to re-stage the app.
- The `cf buildpacks` command shows an empty list of buildpacks.
- Does not support cf CLI `buildpack-administration` commands.
- App developers cannot select a buildpack for their buildpack-based apps.
- Running buildpack-based apps requires the `diego_docker` feature flag to be set.
- The TAS for Kubernetes ingress gateway service may interfere with traffic for other Kubernetes Services in the cluster.
- TAS for Kubernetes cannot use the AWS Elastic Container Registry as its app image registry.
- Does not support upgrading an existing TAS installation to a new version.
- Does not support re-deploying TAS with different credentials.
