---
title: PAS for Kubernetes Release Notes
owner: PAS WOK
---
<hr>

## <a id='releases'></a> Component Versions
<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>bits-service-release</td><td>2.27.0</td></tr>
    <tr><td>docker-registry</td><td>3.4.0</td></tr>
    <tr><td>eirini-bosh-release</td><td>0.0.8</td></tr>
    <tr><td>pas-for-k8s-container-images</td><td>0.0.3</td></tr>
  </tbody>
</table>

The PAS for Kubernetes tile also contains [the components in PAS 2.6.0](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html#2.6.0).

## <a id='features'></a>Features
- `cf push` - Pushing buildpack-based apps, and the app instances running as pods on PKS
- HTTP routing to app instances
- `cf logs` - Showing log streams from app instances
- `cf scale` - Scaling up to at least 100 app instances

## <a id='limitations'></a>Limitations

<%= partial 'limitation_notes' %>

### <a id='container-ingress-egress'></a> Container Ingress/Egress

- App container egress is completely open, as this is the default for NSX-T container network plugins.
  - The app containers have full access to any internal CF APIs. With Diego, these are restricted by app security groups, but Eirini has yet to implement this behavior.
  - Access to Kubernetes APIs is unrestricted.
- App container ingress is also completely open to every client that can route traffic to the Pod IPs (such as containers in other Pods, or other VMs if routes from those VMs to the Pod subnets exist).
  - With either the Silk or NSX-T container plugins on Diego cells, CF app-to-app network policies normally restrict this ingress from other containers, but Eirini also has yet to implement this behavior.
- Kubernetes controls container ingress/egress rules only via `NetworkPolicy` resources, which are effective only if the networking plugin on the K8s nodes also supports `NetworkPolicy`. See the [K8s documentation about NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) for more details.
  - The NSX-T networking plugin **does** support `NetworkPolicy`.

### <a id='multi-tenancy'></a>Multi-Tenancy Considerations
Disk limit is currently unlimited within the app container pods. The app is able to fill up the entire disk.

### <a id='encrypted-communication'></a> Encrypted Communication
- Requests to running applications are unencrypted between the gorouter and the application instance.
- Requests to the Eirini API from the Cloud Controller are unencrypted and unauthenticated. These requests contain application details including sensitive data like environment variables and service credentials.

### <a id='service-account-permissions'></a> Service Account Permissions
- The service account used by Eirini currently requires Admin permissions.
