---
title: Pivotal Application Service for Kubernetes Release Notes
owner: PAS WOK
---
<hr>

## <a id='releases'></a> Releases

### <a id='2.6.0-alpha.1'></a> 2.6.0-alpha.1

* See [New Features in PAS v2.6](#new-features)
* **[Breaking Change]** Oh no! This change broke something!
* **[Feature]** Adding value, one feature at a time 😎.
* **[Feature Improvement]** Adding value to exisiting features! We're just that good!
* **[Security Fix]** 🚨 Uh-oh! Let me fix that for you.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>bits-service-release</td><td>2.27.0</td></tr>
    <tr><td>docker-registry</td><td>3.4.0</td></tr>
    <tr><td>eirini-bosh-release</td><td>0.0.8</td></tr>
    <tr><td>pas-for-k8s-container-images</td><td>0.0.3</td></tr>
    <tr><td>PLACEHOLDER</td><td>PLACEHOLDER</td></tr>
    <tr><td>ubuntu-xenial stemcell</td><td>315.36</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.15.1</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.32</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.0.4</td></tr>
    <tr><td>capi</td><td>1.80.0</td></tr>
    <tr><td>cf-autoscaling</td><td>218</td></tr>
    <tr><td>cf-backup-and-restore</td><td>0.0.11</td></tr>
    <tr><td>cf-cli</td><td>1.13.0</td></tr>
    <tr><td>cf-networking</td><td>2.22.2</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.108</td></tr>
    <tr><td>cf-syslog-drain</td><td>10.2</td></tr>
    <tr><td>cflinuxfs3</td><td>0.101.0</td></tr>
    <tr><td>consul-drain</td><td>0.0.3</td></tr>
    <tr><td>consul</td><td>198</td></tr>
    <tr><td>credhub</td><td>2.4.0</td></tr>
    <tr><td>diego</td><td>2.30.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.2.11</td></tr>
    <tr><td>garden-runc</td><td>1.19.1</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.8.39</td></tr>
    <tr><td>haproxy</td><td>9.5.2</td></tr>
    <tr><td>istio</td><td>1.0.1</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.18</td></tr>
    <tr><td>leadership-election</td><td>1.4</td></tr>
    <tr><td>log-cache</td><td>2.1.4</td></tr>
    <tr><td>loggregator-agent</td><td>3.14</td></tr>
    <tr><td>loggregator</td><td>105.5</td></tr>
    <tr><td>mapfs</td><td>1.1.5</td></tr>
    <tr><td>metric-registrar</td><td>1.0.4</td></tr>
    <tr><td>mysql-monitoring</td><td>9.3.0</td></tr>
    <tr><td>nats</td><td>26</td></tr>
    <tr><td>nfs-volume</td><td>2.1.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.0.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.6.49</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>57</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.3.76</td></tr>
    <tr><td>push-apps-manager-release</td><td>669.0.4</td></tr>
    <tr><td>push-usage-service-release</td><td>670.0.6</td></tr>
    <tr><td>pxc</td><td>0.16.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.32</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.9</td></tr>
    <tr><td>routing</td><td>0.188.1</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.7.38</td></tr>
    <tr><td>silk</td><td>2.22.2</td></tr>
    <tr><td>smb-volume</td><td>1.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.4.42</td></tr>
    <tr><td>statsd-injector</td><td>1.10.0</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
    <tr><td>uaa</td><td>71.0</td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in PAS v2.6.0-alpha.1

See the following new features for PAS v2.6.0-alpha.1:

### <a id="new-feature-1"></a> New Feature 1

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

Enim eu turpis egestas pretium. Odio euismod lacinia at quis risus sed vulputate. Donec adipiscing tristique risus nec feugiat in fermentum.

Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis.




## <a id='known-issues'></a> Known Issues

### <a id='known-issue-1'></a> Known Issue 1

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim eu turpis egestas pretium. Odio euismod lacinia at quis risus sed vulputate.
