---
title: PAS for Kubernetes Release Notes
owner: PAS WOK
---

## <a id='component-versions'></a> Component Versions
<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>bits-service-release</td><td>2.27.0</td></tr>
    <tr><td>docker-registry</td><td>3.4.0</td></tr>
    <tr><td>eirini-bosh-release</td><td>0.0.8</td></tr>
    <tr><td>pas-for-k8s-container-images</td><td>0.0.3</td></tr>
  </tbody>
</table>

The PAS for Kubernetes tile also contains [the components in PAS 2.6.0](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html#2.6.0).

## <a id='features'></a>Features

PAS for Kubernetes is based on the 2.6.0 release of the Small Footprint PAS tile, and so many of those PAS features work unchanged. In particular, buildpack-based apps can still take advantage of core PAS features such as:

- `cf push`, with the app instances now running as pods on Kubernetes,
- HTTP routing to app instances,
- `cf logs` for log streams from app instances,
- `cf scale` for seamless app scaling,
- `cf events` for app audit and crash events,
- `cf app` for app instance status and resource usage metrics.

We discuss limitations and discrepancies from PAS below.


## <a id='limitations'></a>Limitations

<%= partial 'limitation_notes' %>

- Scale of the PAS for Kubernetes tile has been validated only on the order of a few hundred app instances. Operation at larger scale may result in degraded behavior of new system components or integrations.


### <a id='functional-limitations'></a>Known Functional Limitations

- PAS for Kubernetes supports only buildpack-based apps on the `cflinuxfs3` stack. Support for Docker-image-based apps or Windows apps is not yet implemented.

- PAS for Kubernetes supports only HTTP routing. Support for TCP routing and internal DNS-based routing is not yet implemented.

- PAS for Kubernetes does not yet implement app tasks.

- PAS for Kubernetes does not yet support SSH access to app instances.

- Disk usage metrics for app instances are not yet implemented.


### <a id='security-limitations'></a>Known Security Limitations

- Network policies for app instance pods are unrestricted, as this is the default network policy for Kubernetes pods. PAS for Kubernetes does not yet implement [application security groups](https://docs.pivotal.io/pivotalcf/2-6/concepts/asg.html) to control egress policy from app instance pods or [container-to-container network policies](https://docs.pivotal.io/pivotalcf/2-6/devguide/deploy-apps/cf-networking.html) to control network policy between app instance pods.

- Communication from the gorouters to app instances is unencrypted and unauthenticated.

- Communication from the Cloud Controller to the Eirini component is unencrypted and unauthenticated. This communication contains details of app configuration, including  environment variables and service-binding credentials that may be sensitive.

- PAS for Kubernetes does not yet enforce disk usage limits on app instances.

- PAS for Kubernetes currently requires that its Kubernetes service account have cluster-admin privileges.

Future releases of PAS for Kubernetes will address some of these security limitations.

