---
title: See PAS for Kubernetes in Action
owner: PAS WOK
---

<strong>Previous</strong>: [Deploying PAS for Kubernetes](deploying-pas-for-kubernetes.html)


<hr>

This topic discusses how to verify the installation.

## <a id='verify'></a> Verify the Installation

If you want to verify that the installation succeeded, do the following:

1. To see that PAS is running workloads on Kubernetes, push an app to your PAS environment by running `cf push APP_NAME`.

1. Observe that a pod has been created for your app by running the following command:

  ```
kubectl get pods -n pas-workloads
  ```
