---
title: System Components
owner: PAS WOK
---

This topic discusses the key components in the PAS for Kubernetes tile.

## <a id='small-footprint'></a> Small Footprint PAS tile

The PAS for Kubernetes tile includes the system components and BOSH instance groups from the Small Footprint PAS tile. For more information about the Small Footprint PAS tile, see the [Getting Started with Small Footprint PAS](https://docs.pivotal.io/pivotalcf/2-6/customizing/small-footprint.html) topic in the Pivotal Cloud Foundry documentation.


## <a id='eirini'></a> Eirini

The PAS for Kubernetes tile also includes the Eirini component. The Eirini component enables app workloads to run on Kubernetes by translating the app from its representation in Cloud Controller into a StatefulSet resource in Kubernetes. Additionally, it works with Cloud Controller periodically to ensure that if the sets of started apps and StatefulSets ever differ, the set of StatefulSets is corrected to match the set of started apps.

The Eirini component also registers HTTP routes for app instances with active routes and relays container metrics from Kubernetes into the loggregator system.

For more information about Eirini, see the [Eirini Project](https://www.cloudfoundry.org/project-eirini/).


## <a id='bits-service'></a> Bits-Service

The PAS for Kubernetes tile deploys the bits-service to manage application and buildpack file assets on behalf of the Cloud Controller. It supports the Eirini component by converting app droplets into OCI images. Eirini then refers to these images when it runs those apps on the Kubernetes cluster.

For more information about the bits-service, see the [Bits-Service GitHub repository](https://github.com/cloudfoundry-incubator/bits-service).


## <a id='docker-registry'></a> Internal Docker Registry

The PAS for Kubernetes tile deploys an internal docker registry to host the container images for the Loggregator components that run on the Kubernetes worker nodes. Read more about [how Loggregator works in PAS for Kubernetes](how-app-logging-works.html).

